.font-selector {
    .form-control {
        border-radius: 0;
        background-color: #dbdbdb;
        border: 1px solid #cacaca;
        height: 1.88rem;
        font-family: 'Gotham Regular', sans-serif;
        font-size: 14px;
    }

    &__family {
        width: 60%;
        display: inline-block;
    }

    &__size {
        width: 35%;
        display: inline-block;
    }
}