<div class="font-selector">
    <div class="font-selector__family">
        <div class="form-group">
            <label for="font">{{ 'create-quiz.font' | translate }}:</label>
            <select class="form-control" id="font">
                <option>Gotham Bold</option>
                <option>Times New Roman</option>
                <option>PT Sans</option>
            </select>
        </div>
    </div>

    <div class="font-selector__size">
        <div class="form-group">
            <label for="size">{{ 'create-quiz.size' | translate }}:</label>
            <select class="form-control" id="size">
                <option>8</option>
                <option>10</option>
                <option>12</option>
                <option>14</option>
            </select>
        </div>
    </div>
</div>