<div class="create-quiz">
    <div #submenu class="container-fluid create-quiz__header">
        <div class="row">
            <div class="create-quiz__header-toggle-btn" (click)="toggleMenu()">
                <img class="create-quiz__header-toggle-btn-back" src="assets/images/icons/toggle_btn.png" alt="">
                <img class="create-quiz__header-toggle-btn-arrow" src="assets/images/icons/double_arrow.png" alt="" #toggleArrow>
            </div>

            <div class="col-lg-12">
                <div class="create-quiz__header-submenu">

                    <input class="create-quiz__header-submenu-name" type="text" placeholder="Введите название будущего quiz лендинга">


                    <div class="create-quiz__header-submenu-nav">
                        <div class="create-quiz__header-submenu-nav-tariff">
                            <span class="create-quiz__header-submenu-nav-tariff-text">Ваш тариф "Базовый" - 990 руб/мес</span>
                            <br>
                            <a class="create-quiz__header-submenu-nav-tariff-link" routerLink="../tariffs">Изменить тариф</a>
                            <a class="create-quiz__header-submenu-nav-tariff-link" routerLink="../../">Условия тарифа</a>
                        </div>

                        <modal-group [type]="modalType" (settings)="getModalSettings($event)" *ngIf="isShowFaq || isShowSettings"></modal-group>

                        <div #faq class="create-quiz__header-submenu-nav-img" (click)="showFaq()">
                            <i class="fa fa-question"></i>
                        </div>

                        <div #settings class="create-quiz__header-submenu-nav-img" (click)="showSettings()">
                            <i class="fa fa-edit"></i>
                        </div>

                        <div class="create-quiz__header-submenu-nav-img">
                            <i class="fa fa-eye"></i>
                        </div>

                        <div class="create-quiz__header-submenu-nav-btn button button_white" routerLink="../my-quiz-list">Назад</div>
                        <div class="create-quiz__header-submenu-nav-btn button button_blue" (click)="saveChanges()">Сохранить</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- LAYER START -->
    <div class="workzone">
        <div class="container-fluid layer">
            <section *ngFor="let section of quiz.sections" [section]="section"></section>
        </div>
    </div>
        

        
        

    <!-- LAYER END -->

<!--  <div *ngIf="isShowFaq || isShowSettings" class="muted">
  </div> -->

</div>