@import '~variables.scss';

.muted {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(black, .2);
    z-index: 6;    
}

.create-quiz {
    transform: translateY(-10rem);
    position: relative;
    height: 100%;

    

    &__header {
        position: relative;
        border-bottom: 1px solid #bbbbbb;
        transition: all 0.5s ease-in-out;
        background-color: white;

        &-toggle-btn {           
            position: absolute;
            left: 50%;
            top: 0;
            z-index: 5;

            &-arrow {
                transition: all .5s ease-in-out;
                transform: translateX(-49px) rotateZ(0);
            }
        }

        &-submenu {
            height: 4.4rem;
            line-height: 4.4rem;
            text-align: justify;
            
            &:after {
                content: '';
                width: 100%;
                display: inline-block;
            }

            &-name {
                background-color: #dbdbdb;
                border: 1px solid #cacaca;
                outline: none;
                width: 42%;
                height: 2.6rem;
                padding-left: .75rem;
            }   

    
            &-nav {
                display: inline-block;

                &-img {
                    padding-right: 1rem;

                }

                &-btn {
                    margin-right: 1rem;
                    margin-left: 2rem;

                    &:last-child {
                        margin-right: 0;
                        margin-left: 0;
                    }
                }

                &-tariff {
                    display: inline-block;
                    line-height: 1rem;
                    height: 2.6rem;
                    box-sizing: border-box;
                    background-color: #eef2f4;
                    padding: .2rem 3rem .2rem .75rem;
                    vertical-align: middle;
                    margin-right: 1rem;
                }

                &-img {
                    position: relative;
                    vertical-align: middle;
                    width: 1.9rem;
                    height: 1.9rem;
                    border-radius: 50%;
                    background-color: #e8e9ea;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 0;

                    
                }
            }
        }
    }

    &__content {
        margin: 0 !important;
        padding: 0 !important;

        &-img {
            width: 100%;
            padding: 0;
        }
    }

}