<div class="menu-wrap" #menu>

<div class="container-fluid head">
  <div class="row">
    <div class="col-lg-12">
        <img src="./assets/images/logo.png" alt="Logo" class="head__logo">
        <ul class="head__menu">
          <li class="head__menu-item" routerLink="how-to">
            <span class="divider divider_big">|</span>
            <img class="head__menu-item-img" src="assets/images/icons/question.png" alt="">
            <span class="head__menu-item-name" translate>{{ 'main-menu.quiz' | translate }}</span>
          </li>
          <li class="head__menu-item" routerLink="analitics">
            <span class="divider">|</span>
            <img class="head__menu-item-img" src="assets/images/icons/chart.png" alt="">
            <span class="head__menu-item-name">{{ 'main-menu.analitic' | translate }}</span>
          </li>
          <li class="head__menu-item" routerLink="partners">
            <span class="divider">|</span>
            <img class="head__menu-item-img" src="assets/images/icons/tie.png" alt="">
            <span class="head__menu-item-name">{{ 'main-menu.partners' | translate }}</span>
          </li>
          <li class="head__menu-item" routerLink="payments">
            <span class="divider">|</span>
            <img class="head__menu-item-img" src="assets/images/icons/coins.png" alt="">
            <span class="head__menu-item-name">{{ 'main-menu.payment' | translate }}</span>
            <span class="divider">|</span>
          </li>
        </ul>

        <div class="head__user-info">
            <img class="head__user-info-usericon" src="assets/images/icons/user.svg" alt="" routerLink="settings">
            <span class="head__user-info-username" routerLink="settings">{{ username }}</span>
            <img class="head__user-info-logout" src="assets/images/icons/logoff.png" alt="" (click)="logout()">
          </div>
    </div>
  </div>
</div>

<div class="container-fluid submenu">
  <div class="row">
    <div class="col-lg-12">
        <div class="submenu__dropdown" routerLink="my-quiz-list">
            <span class="submenu__dropdown-main">{{ 'main-menu.my-quiz' | translate }}</span>
          </div>
      
          <div class="submenu__selector">
            <span class="submenu__selector-name">{{ 'main-menu.create-quiz' | translate }}:</span>
            <span class="submenu__selector-item">{{ 'main-menu.button' | translate }}</span>
            <span class="submenu__selector-item">{{ 'main-menu.widget' | translate }}</span>
            <span class="submenu__selector-item" routerLink="create-quiz">{{ 'main-menu.landing' | translate }}</span>
          </div>
    </div>
  </div>
</div>

</div>

<router-outlet></router-outlet>

<!--<div class="container-fluid footer">
  <div class="row">
    <div class="col-lg-12 footer__text">
      <hr>
      <span>Quiz Stock 2018</span>
    </div>
  </div>
</div>-->