@import '~variables.scss';

.head {
    height: 6.25rem;
    line-height: 6.25rem;
    background-color: $menu-color;

    &__logo {
        width: 7rem;
        height: 2.9rem;
    }

    &__menu {        
        list-style-type: none;
        display: inline;
        color: $color-text-white;
        font-family: 'Gotham Bold', sans-serif;
        font-size: $midi-text;

        &-item {            
            display: inline-block;
            margin-right: 1rem;
            cursor: pointer;
            outline: none;
            padding-right: 1rem;

            &-name {
                
            }

            &-img {
                width: $midi-text;
                margin-right: 1rem;
            }
        }
    }

    &__logout {
        cursor: pointer;
        float: right;
        margin-right: 1rem;
        position: relative;

        &-dropdown {           
            position: absolute;
            height: 0;
            top: 2.5rem;
            left: -1rem;
            transition: .5s;
            background-color: white;
            border: 1px solid white;
            overflow: hidden;

            &-group {
                padding:  0;

                &-item {
                    list-style-type: none;
                    width: 100%;
                    padding: 0 1rem;
                    line-height: 2.5rem;
                    border-bottom: 1px solid $menu-color;
                    
                    &:hover {
                        background-color: $menu-color;
                    }
                }
            }            
        }

        &-check {
            display: none;
        }

        &-check:checked ~ &-dropdown {
            transition: .5s;
            height: 5rem;
            border: 1px solid $menu-color;
        }
    }

    &__user-info {
        float: right;

        &-usericon {
            cursor: pointer;
            margin-right: 1rem;
        }

        &-username {
            cursor: pointer;
            font-family: 'Gotham Bold', sans-serif;
            color: $color-text-white;
            width: 11.5rem;
            overflow: hidden;
        }

        &-logout {
            cursor: pointer;
            margin-left: 8.25rem;
        }
    }
}

.divider {
    font-family: 'Gotham Light', sans-serif;
    font-size: $midi-text;
    color: #00b1c1;
    padding-right: 2.25rem;

    &:last-child {
        padding-left: 1rem;
    }

    &_big {
        font-size: $big-text;
    }
}

.submenu {
    height: 3.75rem;
    line-height: 3.75rem;
    background-color: $submenu-color;
    border-bottom: 1px solid #c7cccf;
    font-family: 'Gotham Bold', sans-serif;
    font-size: $midi-text;
    color: $color-text-main;

    &__dropdown {
        border-right: 1px solid #c7cccf;
        padding-right: 2.65rem;
        width: auto;
        float: left;
        outline: none;

        &-main {
            cursor: pointer;
            line-height: inherit;
        }
    }

    &__selector {
        font-family: inherit;
        padding: 0 2.65rem;
        border-right: 1px solid #c7cccf;
        float: left;
        width: auto;

        &-name {
            padding-right: 6px;
        }

        &-item {
            text-transform: uppercase;
            background-color: #daedfe;
            padding: .5rem .87rem;
            border-radius: 1rem;
            margin-left: .63rem;
            color: $menu-color;
            cursor: pointer;
            outline: none;
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;

    hr {
        margin-bottom: 0;
        border-top: 1px solid #bbbbbb;
    }

    &__text {
        text-align: center;
        color: #bbbbbb;
        line-height: 3rem;
    }
}


.menu-wrap {
  position: relative;
  transform: translateY(0);
  transition: all .5s ease-in-out;
  z-index: 10;

  
}