.dom-element {
    width: 100%;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
        cursor: pointer;
        height: 2.5rem;
        width: 5rem;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}