<div class="dom-element">
    <div class="dom-element__edit">
        <div class="dom-element__edit-delete"></div>
    </div>

    <div *ngIf="element.type == 'button'" class="dom-element__button">
        {{ element.text }}
    </div>

    <div *ngIf="element.type == 'text'" class="dom-element__text">
        {{ element.text }}
    </div>

    <div *ngIf="element.type == 'image'" class="dom-element__image"></div>
    
</div>