@import '~variables.scss';

.tariffs {
    margin-top: 3.1rem;
    font-family: 'Gotham Bold', sans-serif;
    color: $color-text-main;

    &__title {
        text-transform: uppercase;
        font-size: $big-text;
    }

    &__list {
        padding: 0 15px;
        height: 46.25rem;
        margin-top: 2rem;

        .scroll-content {
            height: 21.8rem;
            overflow: hidden;
            width: calc(100% - 30px);
        }

        &-item {
            position: relative;
            height: 100%;
            padding-top: 3.25rem;
            padding-left: 3.75rem;
            padding-right: 0;
            border-right: 1px solid #c7cccf;
            color: $color-text-main;
            box-shadow: 3px 3px 10px 0px rgba(0,0,0, .4);
            background: linear-gradient(to left bottom, #f1f1f1 15%, #f2f2f2 15%,  #f3f3f3 15%, #fbfbfb 55%);

            &-badge {
                position: absolute;
                top: -4px;
                right: -6px;
                z-index: 5;
            }
            
            &-name {
                display: block;
                font-size: $middle-text;
                line-height: 2rem;

                &_big {                    
                    text-transform: uppercase;
                    font-size: $big-text;
                    border-bottom: 1px solid #c7cccf;
                    width: 100%;
                    padding-bottom: 1rem;
                    margin-bottom: 1.5rem;
                    
                }
            }

            &-title {
                display: block;
                margin-bottom: 1.2rem;
            }

            &-pos {
                padding-left: 0;

                &-li {
                    list-style-type: none;
                    border-bottom: 1px dashed $color-text-main;
                    position: relative;
                    width: calc(100% - 20px);
                    padding: 1rem 0 1rem 1rem;
                    font-family: 'Gotham Regular', sans-serif;

                    &_red {
                        &:before {
                            content: "";
                            position: absolute;
                            width: 5px;
                            height: 5px;
                            border-radius: 2px;
                            top: 1.6rem;
                            left: 0;
                            background-color: $color-text-main;
                        }
                    }
                    
                    &_green {
                        &:before {
                            content: "";
                            position: absolute;
                            width: 5px;
                            height: 5px;
                            border-radius: 2px;
                            top: 1.6rem;
                            left: 0;
                            background-color: $color-text-main;
                        }
                    }

                    .muted {
                        display: block;

                        &_no {
                            margin-right: .5rem;
                        }
                    }

                    .active {
                        display: none;

                        &_no {
                            margin-right: .5rem;
                        }
                    }

                    img {
                        float: right;
                    }
                }
            }
            
            &-more {
                margin: 1rem 0;
                text-align: justify;

                &:after {
                    content: '';
                    width: 100%;
                    display: inline-block;
                }

                &-text {
                    font-family: 'Gotham Light', sans-serif;
                    color: $menu-color;
                    display: inline-block;
                }

                &-free {
                    font-family: 'Gotham Bold', sans-serif;
                    color: $color-green;
                    background-color: rgba($color-green, .2);
                    padding: 11px;
                    border-radius: 14px;
                    margin-right: 30px;
                    display: inline-block;
                }

            }

            &-footer {
                width: 100%;
                height: 10rem;
                background-color: #ebebeb;
                position: absolute;
                margin-left: -3.75rem;
                padding-left: 3.75rem;
                padding-top: 2rem;                
                bottom: 0;

                &-text {
                    font-family: 'Gotham Bold', sans-serif;
                    color: $color-text-main;
                    line-height: 2.5rem;

                    &_big {
                        font-size: $big-text;
                    }

                    &_small {
                        font-size: $middle-text;
                    }
                }
            }

            &:hover > &-name{
                color: $menu-color;
            }

            &:hover > .scroll-content {
                overflow: scroll;
            }

            &:hover > .scroll-content > &-title_red {
                color: $color-red;
            }

            &:hover > .scroll-content > &-title_green {
                color: $color-green;
            }

            &:hover > .scroll-content > &-pos > &-pos-li_red:before {
                background-color: $color-red;
                border-radius: 0;
            }

            &:hover > .scroll-content > &-pos > &-pos-li_green:before {
                background-color: $color-green;
                border-radius: 0;
            }

            &:hover > .scroll-content > &-pos > &-pos-li > .muted {
                display: none;
            }

            &:hover > .scroll-content > &-pos > &-pos-li > .active {
                display: block;
            }

            &:hover > &-footer {
                background-color: transparent;
            }

            &:hover > &-footer > .button {
                background-color: $color-red;
                box-shadow: 0px 4px 0px 0px #a72e2d;
            }

            &:hover > &-footer > &-footer-text {
                color: $menu-color;
            }
        }
    }
}