<div class="container-fluid tariffs">
    <div class="row">
        <div class="col-lg-12">
            <span class="tariffs__title">
                Выберите тарифный план:
            </span>
        </div>
    </div>

    <div class="row tariffs__list">
        <div *ngFor="let tariff of tariffs; let i = index" class="col-lg-4 tariffs__list-item">
            <img *ngIf="i==1" class="tariffs__list-item-badge" src="assets/images/popular_badge.png" alt="">
            <img *ngIf="i==2" class="tariffs__list-item-badge" src="assets/images/profit_badge.png" alt="">
            <span class="tariffs__list-item-name">тариф</span>
            <span class="tariffs__list-item-name tariffs__list-item-name_big">{{ tariff.name }}</span>
            
            <div class="scroll-content">
                <span class="tariffs__list-item-title tariffs__list-item-title_red">Настройка внешнего вида</span>
                <ul class="tariffs__list-item-pos">
                    <li *ngFor="let item of tariff.options[0].ui" class="tariffs__list-item-pos-li tariffs__list-item-pos-li_red">
                        <span>{{ item.name }}</span>
                        <img class="muted muted_ok" *ngIf="item.avaliable" src="assets/images/icons/ok_muted.png">
                        <img class="muted muted_no" *ngIf="!item.avaliable" src="assets/images/icons/no_muted.png">
                        <img class="active active_ok" *ngIf="item.avaliable" src="assets/images/icons/ok_green.png">
                        <img class="active active_no" *ngIf="!item.avaliable" src="assets/images/icons/no_red.png">
                    </li>
                </ul>
                <span class="tariffs__list-item-title tariffs__list-item-title_green">Настройка функциональности</span>
                <ul class="tariffs__list-item-pos">
                    <li *ngFor="let item of tariffs[0].options[0].func" class="tariffs__list-item-pos-li tariffs__list-item-pos-li_green">
                        <span>{{ item.name }}</span>
                        <img class="muted muted_ok" *ngIf="item.avaliable" src="assets/images/icons/ok_muted.png">
                        <img class="muted muted_no" *ngIf="!item.avaliable" src="assets/images/icons/no_muted.png">
                        <img class="active active_ok" *ngIf="item.avaliable" src="assets/images/icons/ok_green.png">
                        <img class="active active_no" *ngIf="!item.avaliable" src="assets/images/icons/no_red.png">
                    </li>
                </ul>
            </div> 
            
            <div class="tariffs__list-item-more">
                <span class="tariffs__list-item-more-text">
                    <img src="assets/images/icons/more_settings.svg" alt="">
                    еще 20 настроек
                </span>
                <span class="tariffs__list-item-more-free">14 дней бесплатно</span>
            </div>
            
            <div class="tariffs__list-item-footer">
                <span class="tariffs__list-item-footer-text tariffs__list-item-footer-text_big">900</span>
                <span class="tariffs__list-item-footer-text tariffs__list-item-footer-text_small"> руб/мес за Quiz</span>
                <div class="button button_muted">Выбрать и перейти к созданию</div>
            </div>
        </div>

    </div>
</div>