<div class="settings">

    <!--<input class="settings__radio gear" type="radio" name="settings" id="gear_{{index}}">-->
    <label for="gear_{{index}}" class="settings__icon" (click)="toggleSettings()">
        <!--gear-->
        <svg width="17px" height="16px">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M14.449,6.164 L14.026,5.183 C14.026,5.183 15.009,3.017 14.923,2.934 L13.621,1.693 C13.530,1.607 11.309,2.595 11.309,2.595 L10.284,2.191 C10.284,2.191 9.377,-0.004 9.254,-0.004 L7.414,-0.004 C7.286,-0.004 6.449,2.197 6.449,2.197 L5.426,2.602 C5.426,2.602 3.157,1.662 3.070,1.743 L1.768,2.987 C1.678,3.074 2.714,5.196 2.714,5.196 L2.292,6.176 C2.292,6.176 -0.007,7.039 -0.007,7.157 L-0.007,8.916 C-0.007,9.037 2.297,9.838 2.297,9.838 L2.721,10.816 C2.721,10.816 1.736,12.982 1.822,13.066 L3.126,14.308 C3.213,14.393 5.436,13.403 5.436,13.403 L6.462,13.810 C6.462,13.810 7.367,16.004 7.492,16.004 L9.331,16.004 C9.458,16.004 10.297,13.803 10.297,13.803 L11.322,13.397 C11.322,13.397 13.587,14.338 13.675,14.257 L14.978,13.013 C15.067,12.928 14.030,10.806 14.030,10.806 L14.454,9.825 C14.454,9.825 16.754,8.959 16.754,8.841 L16.754,7.084 C16.755,6.963 14.449,6.164 14.449,6.164 ZM8.373,10.564 C6.894,10.564 5.688,9.413 5.688,7.999 C5.688,6.586 6.894,5.435 8.373,5.435 C9.855,5.435 11.059,6.586 11.059,7.999 C11.059,9.413 9.855,10.564 8.373,10.564 Z"
            />
        </svg>
    </label>

    <label class="settings__icon" (click)="deleteSection()">
        <!--close-->
        <svg width="11px" height="12px">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M10.989,10.015 L9.993,11.019 L5.500,6.509 L1.007,11.019 L0.010,10.015 L4.501,5.507 L0.010,0.999 L1.007,-0.005 L5.500,4.505 L9.993,-0.005 L10.989,0.999 L6.498,5.507 L10.989,10.015 Z"
            />
        </svg>
    </label>

    <label class="settings__icon">
        <!--move-->
        <svg width="15px" height="15px">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M14.798,6.976 L12.817,4.995 C12.562,4.740 12.178,4.740 11.923,4.995 C11.668,5.250 11.668,5.634 11.923,5.888 L12.881,6.847 L8.139,6.847 L8.139,2.184 L9.033,3.078 C9.288,3.333 9.672,3.333 9.927,3.078 C10.182,2.823 10.182,2.439 9.927,2.184 L7.946,0.203 C7.703,-0.040 7.414,-0.095 6.987,0.203 L5.009,2.184 C4.754,2.439 4.754,2.823 5.009,3.078 C5.264,3.333 5.648,3.333 5.903,3.078 L6.861,2.119 L6.861,6.847 L2.184,6.847 L3.078,5.953 C3.332,5.698 3.332,5.314 3.078,5.059 C2.823,4.804 2.439,4.804 2.184,5.059 L0.203,7.037 C-0.040,7.280 -0.095,7.569 0.203,7.996 L2.184,9.977 C2.439,10.232 2.823,10.232 3.078,9.977 C3.332,9.722 3.332,9.338 3.078,9.083 L2.119,8.125 L6.858,8.125 L6.858,12.815 L5.968,11.922 C5.713,11.666 5.329,11.666 5.074,11.922 C4.819,12.176 4.819,12.560 5.074,12.815 L7.055,14.797 C7.297,15.039 7.586,15.095 8.013,14.797 L9.994,12.815 C10.249,12.560 10.249,12.176 9.994,11.922 C9.739,11.666 9.355,11.666 9.100,11.922 L8.142,12.880 L8.142,8.125 L12.820,8.125 L11.926,9.019 C11.671,9.274 11.671,9.658 11.926,9.912 C12.181,10.167 12.565,10.167 12.820,9.912 L14.801,7.931 C15.040,7.692 15.092,7.403 14.798,6.976 Z"
            />
        </svg>
    </label>

    <label class="settings__icon">
        <!--table-->
        <svg width="14px" height="12px">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M12.726,0.000 L1.273,0.000 C0.571,0.000 0.001,0.514 0.001,1.143 L0.001,10.857 C0.001,11.487 0.571,12.000 1.273,12.000 L12.726,12.000 C13.428,12.000 13.999,11.487 13.999,10.857 L13.999,1.143 C13.999,0.514 13.428,0.000 12.726,0.000 ZM1.273,4.335 L4.981,4.335 L4.981,10.857 L1.273,10.857 L1.273,4.335 ZM6.254,10.857 L6.254,4.335 L12.726,4.335 L12.726,3.192 L1.273,3.192 L1.273,1.143 L12.726,1.143 L12.727,10.857 L6.254,10.857 L6.254,10.857 Z"
            />
        </svg>
    </label>

    <label class="settings__icon">
        <!--image-->
        <svg width="15px" height="12px">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M14.762,12.000 L0.238,12.000 C0.106,12.000 -0.000,11.892 -0.000,11.759 L-0.000,0.241 C-0.000,0.108 0.106,-0.000 0.238,-0.000 L14.762,-0.000 C14.894,-0.000 15.000,0.108 15.000,0.241 L15.000,11.759 C15.000,11.892 14.894,12.000 14.762,12.000 ZM13.574,1.446 L1.426,1.446 L1.426,9.712 L4.853,5.048 C4.871,5.024 4.899,5.009 4.929,5.008 C4.960,5.008 4.988,5.021 5.007,5.045 L7.904,8.663 L10.171,6.640 C10.210,6.605 10.269,6.607 10.305,6.645 L13.574,10.078 L13.574,1.446 ZM8.819,3.745 C8.819,3.092 9.340,2.563 9.984,2.563 C10.628,2.563 11.150,3.092 11.150,3.745 C11.150,4.399 10.628,4.928 9.984,4.928 C9.340,4.928 8.819,4.399 8.819,3.745 Z"
            />
        </svg>
    </label>

    
    <label for="resize_{{index}}" class="settings__icon">
        <!--resize-->
        <svg width="9px" height="17px">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M4.702,1.617 L1.454,4.988 L0.005,4.496 L4.366,0.007 L4.457,0.308 L4.529,0.244 L9.006,4.529 L7.458,5.015 L4.702,1.617 ZM2.000,8.000 L7.000,8.000 L7.000,9.000 L2.000,9.000 L2.000,8.000 ZM4.302,14.967 L7.458,11.985 L9.006,12.471 L4.529,16.756 L4.479,16.619 L4.366,16.993 L0.005,12.503 L1.454,12.011 L4.302,14.967 Z"
            />
        </svg>
    </label>

    <input class="settings__radio" type="radio" name="settings" id="resize_{{index}}">    
    <div class="settings__height">
        <div class="settings__height-header">
            <span>Высота секции</span>
        </div>
        <div class="settings__height-content">
            <span class="settings__height-content-text">Выберите высоту:</span>
            <input id="px_225_{{index}}" type="radio" name="height" value="225" class="settings__height-content-radio" [(ngModel)]="sectionHeight">
            <label for="px_225_{{index}}" class="settings__height-content-height settings__height-content-height_small" [ngClass]="{'settings__height-content-height_selected':sectionHeight==225}">225px</label>
            
            <input id="px_450_{{index}}" type="radio" name="height" value="450" class="settings__height-content-radio" [(ngModel)]="sectionHeight">
            <label for="px_450_{{index}}" class="settings__height-content-height settings__height-content-height_midi" [ngClass]="{'settings__height-content-height_selected':sectionHeight==450}">450px</label>
            
            <input id="px_900_{{index}}" type="radio" name="height" value="900" class="settings__height-content-radio" [(ngModel)]="sectionHeight">
            <label for="px_900_{{index}}" class="settings__height-content-height settings__height-content-height_big" [ngClass]="{'settings__height-content-height_selected':sectionHeight==900}">900px</label>
        </div>

        <div class="settings__height-footer">
            <div class="button button_hover-blue" (click)="save()">Выбрать</div>
            <div class="button button_hover-blue" (click)="cancel()">Отменить</div>
        </div>
    </div>


</div>