@import '~variables.scss';

.settings {
    position: absolute;
    height: 30px;
    width: 30px;
    transition: all .4s ease-in-out;
    border-radius: 15px 0 0 15px;
    top: 5px;
    right: 0;
    padding-top: .3rem; 
    background-color: $menu-color;
    color: white;
    white-space: nowrap;

    &__radio {
        display: none;
    }

    &__radio:checked + &__height {
        display: block;
    }

    &__icon {
        display: block;
        float: right;
        margin: 0 .5rem;
        position: relative;
    }

    &__height {
        width: 13.1rem;
        background-color: $menu-color;
        font-family: 'Gotham Bold', sans-serif;
        font-weight: 600;
        border-radius: 6px;
        position: absolute;
        top: 2.5rem;
        right: 8.7rem;
        z-index: 1;
        display: none;
    
        &:after {
            content: '';
            position: absolute;
            border-top: 0px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 5px solid $menu-color;
            border-left: 9px solid transparent;
            top: -4px;
            left: 175px;
        }
    
        &-header {
            text-transform: uppercase;
            font-size: .88rem;
            color: white;
            height: 2.75rem;
            line-height: 2.75rem;
            padding-left: 1rem;
            padding-right: .75rem;
        }
    
        &-content {
            font-size: .75rem;
            border-radius: 5px 5px 0 0;
            width: 100%;
            background-color: #f0f0f0;
            color: $color-text-main;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
    
            &-text {
                display: block;
                margin: 0 0 .75rem 1rem;
            }

            &-radio {
                display: none;
            }
    
            &-height {
                width: 11.25rem;
                margin-left: 1rem;
                margin-bottom: .5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #c2c2c2;
    
                &_small {
                    height: 1.25rem;
                }
    
                &_midi {
                    height: 1.9rem;
                }
    
                &_big {
                    height: 2.5rem;
                }

                &_selected {
                    background-color: $menu-color;
                    color: white;
                }
            }
        }
    
        &-footer {
            height: 6.75rem;
            width: 100%;
            background-color: #e3e3e3;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 0 0 6px 6px;
        }
    }
}

