@import '~variables.scss';

.add-button {
    position: absolute;
    width: 20.7rem;
    background-color: $menu-color;
    font-family: 'Gotham Bold', sans-serif;
    font-weight: 600;
    border-radius: 6px;
    top: 0.7rem;
    right: -2rem;
    z-index: 1;

    .scrollable {
        // margin-left: 1rem;
    }
        
    &:after {
        content: '';
        position: absolute;
        border: 8px solid transparent;
        border-left: 7px solid #2065a0;
        top: 6px;
        right: -14px;
    }
        
    &__header {
        text-transform: uppercase;
        font-size: .88rem;
        color: white;
        height: 2.75rem;
        line-height: 2.75rem;
        padding-left: 1rem;
        padding-right: .75rem;
        cursor: pointer;
    }
        
    &__content {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: .75rem;
        border-radius: 5px 5px 0 0;
        width: 100%;
        background-color: #f0f0f0;
        color: $color-text-main;

        &-header {
            text-transform: uppercase;
            border-bottom: 1px solid #c2c2c2;
            color: $menu-color;
            font-size: .88rem;
            line-height: 2.8rem;
        }

        &-group {

            &-item {
                border-bottom: 1px solid #c2c2c2;
                width: 100%;
                height: auto;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;

                &_half {
                    display: inline-block;
                    width: 49%;
                }

                &-title {
                    display: inline-block;
                }

                &-buttonarea {
                    width: 100%;
                    border-radius: 1.25rem;
                    height: 2.5rem;
                    background-color: #d0d0d0;
                    display: flex;
                    justify-content: center;

                    &-button {
                        background-color: $menu-color;
                        outline: none;
                        border: none;
                        height: 100%;
                        width: auto;
                        display: block;
                        color: white;
                        font-family: 'Gotham Bold', sans-serif;
                        text-align: center;                        
                    }
                }

            }
        }
    }
    
    &__footer {
        height: 5.3rem;
        background-color: #e3e3e3;
        border-radius: 0 0 5px 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-button {
            color: #585858;
            cursor: pointer;
            font-family: 'Gotham Medium', sans-serif;
            font-size: .8rem;
            font-weight: 400;
            border-radius: 1.2rem;
            padding: .87rem 2rem;
    
            &:hover {
                color: #ffffff;
                background-color: $menu-color;
                font-weight: 400;
            }
        }
    }
}









