<div class="add-button">

    <div class="add-button__header">
        <span>Добавить кнопку</span>
    </div>

    <div class="scrollable">

        <div class="add-button__content">

            <div class="add-button__content-header" (click)="toggleItems($event)">
                <span>Дизайн кнопки</span>
            </div>

            <div class="add-button__content-group">
                <div class="add-button__content-group-item add-button__content-group-item_button">
                    <span class="add-button__content-group-item-title">Текст кнопки:</span>
                    <div class="add-button__content-group-item-buttonarea">
                        <input 
                            class="add-button__content-group-item-buttonarea-button"
                            value="Начать тест"
                            type="text"
                            onkeydown="this.style.width = ((this.value.length + 1) * 8) + 'px';"
                            [style.borderTopLeftRadius]="button.radius[0]"
                            [style.borderTopRightRadius]="button.radius[1]"
                            [style.borderBottomLeftRadius]="button.radius[2]"
                            [style.borderBottomRightRadius]="button.radius[3]"
                            [style.backgroundColor]="button.background"
                            [style.opacity] = "button.opacity"
                            [style.border]="button.border + 'px solid' + button.border_color"
                        >
                    </div>
                </div>

                <div class="add-button__content-group-item add-button__content-group-item_radius">
                    <span class="add-button__content-group-item-title">Закругление краев:</span>
                    <angle-radius [current]="50" [max]="50" (changeRadius)="onButtonRadiusChange($event)"></angle-radius>
                </div>

                <div class="add-button__content-group-item">
                    <span class="add-button__content-group-item-title">Цвет кнопки:</span>
                    <color-picker [name]="button-color" (onChange)="onButtonColorChange($event)"></color-picker>
                    <div class="add-button__content-group-item_temp">
                        <span class="add-button__content-group-item-title">Прозрачность:</span>
                        <scroll-bar [current]="100" [max]="100" [type]="percent" (onChange)="onButtonOpacityChange($event)"></scroll-bar>
                    </div>
                </div>

                <div class="add-button__content-group-item add-button__content-group-item_border">
                    <span class="add-button__content-group-item-title">Цвет обводки:</span>
                    <color-picker [name]="border-color" (onChange)="onBorderColorChange($event)"></color-picker>

                    <div class="add-button__content-group-item_temp">
                        <span class="add-button__content-group-item-title">Толщина:</span>
                        <scroll-bar [current]="0" [max]="10" [type]="standart" (onChange)="onBorderHeightChange($event)"></scroll-bar>
                    </div>
                </div>

                <div class="add-button__content-group-item">
                    <effect></effect>
                </div>

                <div class="add-button__content-group-item">
                    <font-selector></font-selector>
                    <span>Цвет:</span>
                    <color-picker></color-picker>
                </div>
            </div>
        </div>
    </div>

    <div class="add-button__footer">
        <span class="add-button__footer-button">Сохранить</span>
        <span class="add-button__footer-button">Отмена</span>
    </div>
</div>