<div class="color-pick">
    <label *ngFor="let color of preColor" class="color-pick__color">
        <input class="color-pick__color-radio" type="radio" [name]="name" value={{color}} [(ngModel)]="selectedColor" (change)="onColorPalleteChange()">
        <div class="color-pick__color-btn" [ngStyle]='{"background-color": color}'></div>
    </label>
    <label class="color-pick__color">
        <input class="color-pick__color-radio" type="radio" [name]="name" value="selectedColor" [(ngModel)]="selectedColor">
        <div class="color-pick__color-btn" [(colorPicker)]="color" [style.background]="color" (colorPickerChange)="onColorPickerChange($event)">
            <svg width="16px" height="17px">
                <path fill-rule="evenodd" fill="rgb(88, 88, 88)" d="M15.977,1.921 C15.621,2.659 8.159,12.286 8.159,12.286 L5.487,10.330 C5.487,10.330 13.481,1.856 14.903,0.815 C16.134,0.712 15.977,1.921 15.977,1.921 ZM0.078,16.742 C0.078,16.742 2.771,16.689 2.434,14.305 C2.096,11.920 4.993,10.969 4.993,10.969 L7.666,12.923 C6.074,18.372 0.078,16.742 0.078,16.742 Z"
                />
            </svg>
        </div>
    </label>
</div>