.color-pick {
    height: 1.8rem;

    &__color {
        display: inline;

        &-radio {
            display: none;
        }

        &-radio:checked + &-btn:after {
            display: flex;
        }

        &-btn {
            cursor: pointer;
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 50%;
            background-color: white;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            vertical-align: top;
            position: relative;

            &:after {
                content: '\2714';
                display: none;
                width: .86rem;
                height: .86rem;
                border-radius: 50%;
                position: absolute;
                right: -3px;
                top: -3px;
                color: white;
                background-color: #585858;
                justify-content: center;
                align-items: center;
            }
        }
    }
}