<div class="container-fluid transaction">

  <div class="row">
    <div class="col-lg-12">
      <span class="transaction__name">Оплата № {{ transaction.number }}</span>
    </div>
  </div>

  <div class="row transaction__info">
    <div class="col-lg-4">
      <div class="transaction__info-item">
        <p class="transaction__info-item-title">Информация по Quiz</p>
        <p class="transaction__info-item-text">Название Quiz: <span class="transaction__info-item-text transaction__info-item-text_slim">{{ transaction.quiz.name }}</span></p>
        <p class="transaction__info-item-text">Тип Quiz: <span class="transaction__info-item-text transaction__info-item-text_slim">{{ transaction.quiz.type }}</span></p>
        <p class="transaction__info-item-text">Тарифный план: <span class="transaction__info-item-text transaction__info-item-text_slim">{{ transaction.quiz.tariff }}</span></p>
        <span class="transaction__info-item-show">
          <img src="assets/images/icons/eye.svg" alt="">
          Смотреть Quiz
        </span>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="transaction__info-item">
        <p class="transaction__info-item-title">Информация по оплате</p>
        <p class="transaction__info-item-text">Способ оплаты:</p>
        <img class="transaction__info-item-img" src="assets/images/payway.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="transaction__info-item">
          <p class="transaction__info-item-title">Контактные данные</p>
          <p class="transaction__info-item-text">ФИО: <span class="transaction__info-item-text transaction__info-item-text_slim">{{ transaction.user.name }}</span></p>
          <p class="transaction__info-item-text">Телефон: <span class="transaction__info-item-text transaction__info-item-text_slim">{{ transaction.user.phone }}</span></p>
          <p class="transaction__info-item-text">E-mail: <span class="transaction__info-item-text transaction__info-item-text_slim">{{ transaction.user.email }}</span></p>
          <p class="transaction__info-item-text">комментарии к заказу:</p>
          <span class="transaction__info-item-text transaction__info-item-text_slim">{{ transaction.user.comments }}</span>
      </div>
    </div>
  </div>

  <div class="row transaction__cost">
    <div class="col-lg-12">
      <span class="transaction__cost-text transaction__cost-text_small">Стоимость Quiz: <span class="transaction__cost-text transaction__cost-text_blue">500 руб.</span></span><br>
      <span class="transaction__cost-text transaction__cost-text_small">Скидка купона: <span class="transaction__cost-text transaction__cost-text_blue">90 руб.</span> </span><br>
      <span class="transaction__cost-text transaction__cost-text_big">Сумма для оплаты: <span class="transaction__cost-text transaction__cost-text_blue">410 руб.</span></span><br>
    </div>
  </div>

  <div class="row transaction__finish-btn">
    <div class="col-lg-12">
        <div class="button button_red" (click)="onSubmit()">Перейти к оплате</div>
    </div>
  </div>

</div>