@import '~variables.scss';

.transaction {
    margin-top: 3.5rem;
    color: $color-text-main;
    font-family: 'Gotham Bold', sans-serif;
    
    &__name {
        text-transform: uppercase;
        font-size: $big-text;        
    }

    &__info {
        margin-top: 2.25rem;
        margin-bottom: 2.8rem;
        height: 26.5rem;

        &-item {
            width: 100%;
            height: 100%;
            background-color: $color-block-gray;
            padding: 3rem 2.6rem;

            &-img {
                width: 100%;
            }

            &-title {
                font-size: $middle-text;
            }

            &-text {
                font-size: $midi-text;

                &_slim {
                    font-family: 'Gotham Light', sans-serif;
                }
            }

            &-show {
                display: block;
                font-family: 'Gotham Light', sans-serif;
                color: $menu-color;
                font-size: $midi-text;
                margin-top: 3.25rem;
                cursor: pointer;
            }
        }
    }

    &__cost {
        margin-bottom: 2.5rem;

        &-text {
            line-height: 2rem;

            &_small {
                font-size: $midi-text;
            }
            
            &_big {
                line-height: 2.5rem;
                font-size: $middle-text;
            }

            &_blue {
                color: $menu-color;
            }

        }

    }

    &__finish-btn {
        margin-bottom: 4rem;
    }
    
}

