<div class="how-to-block">
    <how-to [title]="'How to add background'"></how-to>
    <how-to [title]="'How to add background'"></how-to>
    <how-to [title]="'How to add background'"></how-to>
</div>