<div class="angle-radius">
    <div class="angle-radius__slider">
        <scroll-bar [current]="current" [max]="max" [type]="percent" (onChange)="onBorderRadiusChange($event)"></scroll-bar>
    </div>

    <div class="angle-radius__preview">
        <label class="angle-radius__preview-angle angle-radius__preview-angle_left angle-radius__preview-angle_top">
            <input type="checkbox" class="angle-radius__preview-angle-checkbox" (change)="onBorderRadiusChange()" [(ngModel)]="angleCheck[0]">
            <div class="angle-radius__preview-angle-sector"></div>
        </label>
        
        <label class="angle-radius__preview-angle angle-radius__preview-angle_left angle-radius__preview-angle_bottom">
            <input type="checkbox" class="angle-radius__preview-angle-checkbox" (change)="onBorderRadiusChange()" [(ngModel)]="angleCheck[2]">
            <div class="angle-radius__preview-angle-sector"></div>
        </label>
        
        <label class="angle-radius__preview-angle angle-radius__preview-angle_right angle-radius__preview-angle_top">
            <input type="checkbox" class="angle-radius__preview-angle-checkbox" (change)="onBorderRadiusChange()" [(ngModel)]="angleCheck[1]">
            <div class="angle-radius__preview-angle-sector"></div>
        </label>
        
        <label class="angle-radius__preview-angle angle-radius__preview-angle_right angle-radius__preview-angle_bottom">
            <input type="checkbox" class="angle-radius__preview-angle-checkbox" (change)="onBorderRadiusChange()" [(ngModel)]="angleCheck[3]">
            <div class="angle-radius__preview-angle-sector"></div>
        </label>        
        
        <div class="angle-radius__preview-button" 
            [style.borderTopLeftRadius]="angleCheck[0]?radius+'rem':'0rem'"
            [style.borderTopRightRadius]="angleCheck[1]?radius+'rem':'0rem'"
            [style.borderBottomLeftRadius]="angleCheck[2]?radius+'rem':'0rem'"
            [style.borderBottomRightRadius]="angleCheck[3]?radius+'rem':'0rem'"
        >
            {{current}}%
        </div>
    </div>
</div>
