.angle-radius {
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__slider {
        height: 3rem;
        display: inline-block;
        margin-right: 10%;
    }

    &__preview {
        display: inline-block;
        position: relative;
        height: 100%;
        width: 40%;

        &-button {
            width: 100%;
            height: 2.5rem;
            border: 1px dashed black;
            display: flex;
            justify-content: center;
            align-items: center;
        }        

        &-angle {
            display: block;
            margin: 0;
            position: absolute;

            &-checkbox {
                display: none;
            }

            &-sector {
                width: 18px;
                height: 18px;
                background-color: rgba(#5e8eb8, .4);
            }
    
            &-checkbox:checked + &-sector {
                background-color: rgba(blue, .4);
            }

            &_top {
                top: 0;
            }

            &_bottom {
                bottom: 0;
            }

            &_left {
                left: 0;
            }

            &_right {
                right: 0;
            }
        }
    }
}