@import '~variables.scss';

// style fo menu

.menu {
    background-color: $menu-color;
    color: $link-color;
    font-size: .9rem;



    &__logo {
        width: 70%;
        height: $menu-height;
    }

    &__link {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: $menu-height;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    &__link:hover, &__button:hover {
        background-color: $background-muted-color;
    }

    &__login {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: $menu-height;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 0 4rem 0 0;
    }

    &__button {
        background-color: inherit;
        border: none;
        color: $link-color;
        cursor: pointer;
        height: inherit;
    }
}


// style for contentTop

.contentTop {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: $contentTop-color;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 7.5rem 0 7.5rem;


    &__caption {
        text-align: center;
        font-size: $captionText-size;
        font-weight: $captionText-weight;
        margin-top: 6rem;
        width: 60%;
    }

    &__presentation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin-top: 5rem;
        width: 100%;
    }

    &__quiz {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: .8rem;
        width: 25%;
        text-align: center;
    }

    &__img {
        width: 100%;
        height: 12rem;
        margin-bottom: .5rem;
    }

    &__button {
        background-color: $contentTop-button-color;
        color: white;
        margin: 2rem 0 4rem 0;
        height: 2.6rem;
        width: 12rem;
    }

    &__button:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }
}


// style for aboutProject

.aboutProject{
    background-color: $aboutProject-color;
    padding: 0 1rem 7rem 2rem;
    text-align: center;


    &__caption {
        font-size: $captionText-size;
        font-weight: $captionText-weight;
        padding: 4rem 0 3rem 0;
    }

    &__colum {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__columLeft {
        width: 40%;
    }

    &__columRight {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 60%;
    }

    &__img {
        width: 70%;
        height: 13rem;
    }

    &__content {
        font-size: 1.1rem;
        line-height: 2rem;
        padding-right: 4rem;
        text-align: left;
    }
}


// style for presentation

.presentation{
      background-color: $presentation-color;
      font-size: $captionText-size;
      font-weight: $captionText-weight;
      padding: 3rem 0 6rem 0;

      &__caption {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          padding-bottom: 2rem;
      }

      &__slider {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 100%;
          margin: 0;

      }
}

//slider setup for block presentation
/////////////////////////////////////////////////////////

.presentation .carousel-item{
    background: $presentation-slider-color;
    text-align: center;
    height: 24rem !important;
}

.presentation .carousel {
    width: 75% !important;
}

//////////////////////////////////////////////////////////


// style for price

.price {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: $price-color;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0 5rem 0;
    width: 100%;


    &__caption {
        text-align: center;
        font-size: $captionText-size;
        font-weight: $captionText-weight;
        padding-top: 4rem;
        width: 60%;
    }

    &__presentation {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin-top: 4rem;
        width: 100%;
    }

    &__quiz {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 1.4rem;
        font-weight: 600;
        width: 25%;
        text-align: center;
    }

    &__img {
        width: 100%;
        height: 12rem;
        margin-bottom: 1rem;
    }
}


// style for reviews

.comments {
    background-color: $comments-color;
    text-align: center;
    font-size: $captionText-size;
    font-weight: $captionText-weight;
    padding: 4rem 8rem 0 8rem;

    &__caption {
        margin-bottom: 2rem;
    }

    &__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    &__card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50%;
        margin: 3rem 0 4rem 0;
    }

    &__photo {
        height: 95%;
        width:  25%;
        border-radius: 10rem;
    }

    &__reviews {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: .9rem;
        font-weight: 400;
        padding: 0 3rem 0 1.5rem;
        text-align: left;
    }
}


// style for examples

.examples {
    background-color: $examples-color;
    font-size: $captionText-size;
    font-weight: $captionText-weight;
    text-align: center;
    padding: 3rem 5rem 3rem 5rem;

    &__caption {
      margin-bottom: 4rem;
    }

    &__slider {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
}

//slider setup for block examples
/////////////////////////////////////////////////////////

.examples .carousel-item {
    background: $presentation-slider-color;
    text-align: center;
    height: 14rem !important;
}

.examples .carousel {
      width: 90% !important;
}

.fa-arrow-alt-circle-left, .fa-arrow-alt-circle-right {
        color:  $carousel-examples-control-color;
}

//////////////////////////////////////////////////////////


// style for footer

.footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    font-size: 1rem;
    justify-content: center;
    background-color: $footer-color;
    padding: 2rem;
}
