<div class="container-fluid">
  <div class="row menu">
    <div class="col-md-3">
      <img class="menu__logo" src="./assets/images/logo.png" alt="Logo">
    </div>
    <div (click)="scroll(about_project)" class="col-md-1 menu__link">О проекте</div>
    <div (click)="scroll(presentation)" class="col-md-1 menu__link">Презентация</div>
    <div (click)="scroll(price)" class="col-md-1 menu__link">Цены</div>
    <div (click)="scroll(reviews)" class="col-md-1 menu__link">Отзывы</div>
    <div (click)="scroll(examples)" class="col-md-1 menu__link">Пример Quiz</div>
    <div class="col-md-4 menu__login">
      <button class="menu__button" (click)="switchLogin()">
        <span *ngIf="!isLogged">Войти / Регистрация</span>
        <span *ngIf="isLogged">Account page</span>
      </button>
    </div>
  </div>
</div>


<!--block for contentTop -->

<div class="contentTop">
    <div class="contentTop__caption">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div>

    <div class="contentTop__presentation">
        <div class="contentTop__quiz">
            <img class="contentTop__img" src="./assets/images/testImg.jpg" alt="Quiz-lending">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit.</p>
        </div>
        <div class="contentTop__quiz">
            <img class="contentTop__img" src="./assets/images/testImg.jpg" alt="Quiz-button">
            <p>LLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
        </div>
        <div class="contentTop__quiz">
            <img class="contentTop__img" src="./assets/images/testImg.jpg" alt="Quiz-widget">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo</p>
        </div>
    </div>

    <div>
        <button  type="button" class="btn contentTop__button">Попробовать</button>
    </div>
</div>

<!--block for aboutProject -->

<div class="aboutProject container-fluid" #about_project>
    <div class="aboutProject__caption">О проекте</div>
    <div class="aboutProject__colum">
      <div class="aboutProject__columLeft">
          <img class="aboutProject__img" src="./assets/images/testImg.jpg" alt="img">
      </div>
      <div class="aboutProject__columRight">
            <p class="aboutProject__content">
                Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Aenean euismod bibendum
                laoreet. Proin gravida dolor sit amet
                lacus accumsan et viverra justo commodo.
                Proin sodales pulvinar tempor. Cum sociis
                natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus
                mus. Nam fermentum, nulla luctus
                pharetra vulputate, felis tellus mollis
                orci, sed rhoncus sapien nunc eget.
            </p>
        </div>
    </div>
</div>



<!--block for presentation -->

<div class="presentation container-fluid" #presentation>
    <div class="presentation__caption">
        <p>Презентация</p>
    </div>
    <div class="row presentation__slider">

      <div id="carouselPresentation" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselPresentation" data-slide-to="0" class="active"></li>
            <li data-target="#carouselPresentation" data-slide-to="1"></li>
            <li data-target="#carouselPresentation" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img class="d-block w-100" src="./assets/images/testImg.jpg" alt="Первый слайд">
                  <div class="carousel-caption d-none d-md-block">
                      <h3>Заголовок 1 слайда</h3>
                      <p>описание 1 слайда</p>
                  </div>
              </div>
              <div class="carousel-item">
                  <img class="d-block w-100" src="./assets/images/testImg.jpg" alt="Второй слайд">
                  <div class="carousel-caption d-none d-md-block">
                      <h3>Заголовок 2 слайда</h3>
                      <p>описание 2 слайда</p>
                  </div>
              </div>
              <div class="carousel-item">
                  <img class="d-block w-100" src="./assets/images/testImg.jpg" alt="Третий слайд">
                  <div class="carousel-caption d-none d-md-block">
                      <h3>Заголовок 3 слайда</h3>
                      <p>описание 3 слайда</p>
                  </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselPresentation" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselPresentation" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>
</div>


<!--block for price  -->

<div class="price" #price>
  <div class="price__caption">
      <p>Цены</p>
  </div>

  <div class="price__presentation">
      <div class="price__quiz">
          <img class="price__img" src="./assets/images/testImg.jpg" alt="Quiz-lending">
          <p>3000 руб./мес.</p>
      </div>
      <div class="price__quiz">
          <img class="price__img" src="./assets/images/testImg.jpg" alt="Quiz-button">
          <p>4000 руб./мес.</p>
      </div>
      <div class="price__quiz">
          <img class="price__img" src="./assets/images/testImg.jpg" alt="Quiz-widget">
          <p>5000 руб./мес.</p>
      </div>
  </div>
</div>


<!--block for reviews  -->

<div class="comments" #reviews>
    <p class="comments__caption">Отзывы</p>
    <div class="comments__content">
        <div class="comments__card"
        *ngFor="let comm of commentators">
              <img class="comments__photo" src="{{comm.image}}" alt="people">
              <p class="comments__reviews">{{comm.text}}</p>
        </div>
    </div>
</div>


<!--block for examples -->

<div class="examples" #examples>
    <div class="examples__caption">Примеры</div>
    <div class="examples__slider">
      <div id="carouselExamples" class="carousel slide" data-ride="carousel">
          <!-- <ol class="carousel-indicators">
            <li data-target="#carouselExamples" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExamples" data-slide-to="1"></li>
            <li data-target="#carouselExamples" data-slide-to="2"></li>
          </ol> -->
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img class="w-25" src="./assets/images/testImg.jpg" alt="slide">
                  <img class="w-25" src="./assets/images/logo.png" alt="slide">
                  <img class="w-25" src="./assets/images/testImg.jpg" alt="slide">
              </div>
              <div class="carousel-item">
                  <img class="w-25" src="./assets/images/logo.png" alt="slide">
                  <img class="w-25" src="./assets/images/testImg.jpg" alt="slide">
                  <img class="w-25" src="./assets/images/testImg.jpg" alt="slide">
              </div>
              <div class="carousel-item">
                  <img class="w-25" src="./assets/images/testImg.jpg" alt="slide">
                  <img class="w-25" src="./assets/images/testImg.jpg" alt="slide">
                  <img class="w-25" src="./assets/images/logo.png" alt="slide">
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExamples" role="button" data-slide="prev">
              <span class="fas fa-arrow-alt-circle-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExamples" role="button" data-slide="next">
              <span class="fas fa-arrow-alt-circle-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
    </div>
</div>


<!--block for footer  -->

<div class="footer">Copyright 2018</div>

<app-login *ngIf="!isLogged && showLoginForm" (showLogin)="switchLogin($event)"></app-login>
