@import '~variables.scss';

.payment-list {
    color: $color-text-main;
    margin-top: 3.5rem;
    font-size: $midi-text;

    &__header {

        &-title {
            text-transform: uppercase;
            font-family: 'Gotham Bold', sans-serif;
            font-size: $big-text;
        }

        &-period {
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;

            &-title {
               font-family: 'Gotham Bold', sans-serif;
               padding-right: .5rem;
            }

            &-date {
                font-family: 'Gotham Light', sans-serif;
                padding-right: 1rem;
            }

            &-delete {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: rgba($color-red, .3);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-right: .5rem;
                cursor: pointer;
            }

            &-calendar {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                background-color: $menu-color;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            
        }


    }

    &__table {
        width: 100%;
        border-collapse: unset;

        &-head {
            height: 3.9rem;
            color: $menu-color;
            font-family: 'Gotham Bold', sans-serif;

            &-cell {
                height: inherit;
                background-color: #bcd4e9;
                padding-left: 1.5rem;
                position: relative;

                &-text {

                }

                &-img {
                   position: absolute;
                   top: 1.5rem;
                   right: .5rem;
                }
            }
        }

        &-body {

            &-row {
                height: 3.9rem;

                &-cell {
                    height: inherit;
                    border: 1px solid #979797;
                    padding-left: 1.5rem;
                    position: relative;

                }
            }
        }
    }
}