<div class="container-fluid payment-list">
  <div class="row">
    <div class="col-lg-12 payment-list__header">
      <span class="payment-list__header-title">История оплат</span>
      <div class="payment-list__header-period">
        <span class="payment-list__header-period-title">Выбрать период: </span>
        <span class="payment-list__header-period-date"> с 01.01.18 по 01.02.18</span>
        <div class="payment-list__header-period-delete">
          <img src="assets/images/icons/close_red.svg" alt="">
        </div>
        <div class="payment-list__header-period-calendar">
            <img src="assets/images/icons/calendar.svg" alt="">
        </div>
      </div>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
        <table class="payment-list__table">
            <tr class="payment-list__table-head">
              <td class="payment-list__table-head-cell" (click)="sortBy('id')">
                <span class="payment-list__table-head-cell-text">ID</span> 
                <img class="payment-list__table-head-cell-img" src="assets/images/icons/sort_muted.svg" alt="">
              </td>
              <td class="payment-list__table-head-cell" (click)="sortBy('date')">
                Дата
                
              </td>
              <td class="payment-list__table-head-cell" (click)="sortBy('name')">
                Название
                
              </td>
              <td class="payment-list__table-head-cell" (click)="sortBy('type')">
                Тарифный план
                
              </td>
              <td class="payment-list__table-head-cell" (click)="sortBy('summ')">
                Тип
                
              </td>
              <td class="payment-list__table-head-cell" (click)="sortBy('status')">
                Сумма
                
              </td>
              <td class="payment-list__table-head-cell" (click)="sortBy('status')">
                Статус
                  
                </td>
              </tr>
            <tbody class="payment-list__table-body">
              <tr class="payment-list__table-body-row" *ngFor="let item of paymentList">
                <td class="payment-list__table-body-row-cell">{{ item.id }}</td>
                <td class="payment-list__table-body-row-cell">{{ item.date }}</td>
                <td class="payment-list__table-body-row-cell">{{ item.name }}</td>
                <td class="payment-list__table-body-row-cell">{{ item.type }}</td>
                <td class="payment-list__table-body-row-cell">{{ item.type }}</td>
                <td class="payment-list__table-body-row-cell">{{ item.summ }}</td>
                <td class="payment-list__table-body-row-cell">
                  <span>{{ item.status }} </span>
                  <div *ngIf="item.status=='Not payed'" class="button button_red" (click)="buyQuiz()">Оплатить</div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
