<div class="container-fluid process">
  <div class="row">
    <div class="col-lg-12 process__title">
      Оплата Quiz СТО - Ремонт авто
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 process__tariff">
      <span class="process__tariff-text">Ваш тариф "Базовый" - 990 руб/мес</span><br>
      <a class="process__tariff-link" routerLink="../../tariffs">Изменить тариф</a>
      <a class="process__tariff-link" routerLink="../../">Условия тарифа</a>
      <hr>
    </div>
  </div>

  <div class="row process__body">
    <div class="col-lg-6">
      <div class="process__body-item">
        <p class="process__body-item-title">Информация по оплате</p>
        <span>Способ оплаты:</span>
        <div class="process__body-item-payway">
          
          <input id="yandex" class="process__body-item-payway-radio" type="radio" name="payway" checked>
          <label for="yandex"  class="process__body-item-payway-item">            
            <div class="process__body-item-payway-item-ok">
              <img src="assets/images/icons/ok_white.svg" alt="">
            </div>
            <img src="assets/images/yandex.png" alt="">
          </label>

          <input id="quiz" class="process__body-item-payway-radio" type="radio" name="payway">
          <label for="quiz" class="process__body-item-payway-item">              
              <div class="process__body-item-payway-item-ok">
                <img src="assets/images/icons/ok_white.svg" alt="">
              </div>
              <img src="assets/images/quiz_pay.png" alt="">
          </label>

        </div>

        <div class="process__body-coupon">
          <p>Применить купон:</p>
          <input class="process__body-coupon-input" type="text" name="" id="" placeholder="QW23490-321">
          <div class="process__body-coupon-btn">Применить</div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
        <div class="process__body-item">
            <p class="process__body-item-title">Контактные данные</p>
            <form novalidate class="process__body-item-form" [formGroup]="contactForm">
                <div class="process__body-item-form-general">
                  <span class="process__body-item-form-general-name">ФИО:</span>
                  <div class="process__body-item-form-general-block">
                      <input formControlName="name" type="text" placeholder="Name" class="process__body-item-form-general-block-input" [ngClass]="{
                        'has-success': name.valid && name.dirty,
                        'has-error': name.invalid && name.dirty
                      }">
                      <div class="process__body-item-form-general-block-alert" *ngIf="name.invalid && name.dirty">Обязательное поле</div>
                  </div>
                  
                  <span class="process__body-item-form-general-name">Телефон:</span>
                  <div class="process__body-item-form-general-block">
                    <input formControlName="phone" type="text" placeholder="Phone" class="process__body-item-form-general-block-input" [ngClass]="{
                      'has-success': phone.valid && phone.dirty,
                      'has-error': phone.invalid && phone.dirty
                    }">
                    <div class="process__body-item-form-general-block-alert" *ngIf="phone.invalid && phone.dirty">Required field</div> 
                  </div>                  
                  
                  <span class="process__body-item-form-general-name">E-mail:</span>
                  <div class="process__body-item-form-general-block">
                    <input formControlName="email" type="email" placeholder="Email" class="process__body-item-form-general-block-input" [ngClass]="{
                      'has-success': email.valid && email.dirty,
                      'has-error': email.invalid && email.dirty
                    }">
                    <div class="process__body-item-form-general-block-alert" *ngIf="email.invalid && email.dirty">Обязательное поле</div>
                  </div>
                  
                </div>

                <div class="process__body-item-form-general">
                  <span class="process__body-item-form-general-name">Комментарии к заказу:</span>
                  <textarea formControlName="comments" class="process__body-item-form-general-textarea"></textarea>
                </div>

              </form>
          </div>
    </div>
  </div>

  <div class="row process__cost">
      <div class="col-lg-12">
        <span class="process__cost-text process__cost-text_small">Стоимость Quiz: <span class="process__cost-text process__cost-text_blue">500 руб.</span></span><br>
        <span class="process__cost-text process__cost-text_small">Скидка купона: <span class="process__cost-text process__cost-text_blue">90 руб.</span> </span><br>
        <span class="process__cost-text process__cost-text_big">Сумма для оплаты: <span class="process__cost-text process__cost-text_blue">410 руб.</span></span><br>
      </div>
    </div>
  
    <div class="row process__finish-btn">
      <div class="col-lg-12">
          <div class="button button_red" (click)="onSubmit()">Оплатить</div>
      </div>
    </div>

</div>
