@import '~variables.scss';

.process {
    margin-top: 3.5rem;
    color: $color-text-main;
    font-family: 'Gotham Bold', sans-serif;

    &__title {
        font-size: $big-text;
        text-transform: uppercase;
    }

    &__tariff {

        &-text {

        }

        &-link {
            font-family: 'Gotham Light', sans-serif;
            text-decoration: underline;
            padding-right: 1rem;
        }
    }

    &__body {
        height: 26.4rem;
        margin-bottom: 2.8rem;
        
        &-item {
            width: 100%;
            height: 100%;
            background-color: $color-block-gray;
            padding: 3rem 2.6rem;
            font-size: $midi-text;

            &-title {
                font-size: $middle-text;
            }

            &-payway {
                width: 100%;
                display: flex;
                flex-direction: row;

                &-radio {
                    display: none;
                }

                &-radio:checked + &-item {
                    border: 1px solid $menu-color;
                }

                &-radio:checked + &-item &-item-ok {
                    background-color: $menu-color;
                }

                &-item {
                    height: 7.5rem;
                    width: 13.1rem;
                    background-color: white;
                    display: flex;
                    margin-right: 1.25rem;
                    border: 1px solid #bbbbbb;
                    justify-content: center;
                    align-items: center;
                    position: relative;                

                    &-ok {
                        width: 1.36rem;
                        height: 1.36rem;
                        background-color: #bbbbbb;
                        border-radius: 50%;
                        position: absolute;
                        top: -.68rem;
                        right: -.68rem;;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                }
            }

            &-form {

                &-general {
                    width: 47%;
                    height: 100%;
                    display: inline-block;

                    &:first-child {
                        margin-right: 1.8rem;
                    }

                    &-name {
                        display: block;
                        margin-bottom: .6rem;
                    }

                    &-block {
                        position: relative;
                        margin-bottom: 1rem;

                        &-input {
                            width: 100%;
                            outline: none;
                            height: 3.1rem;
                            border: 1px solid #bbbbbb;
                            padding-left: 1rem;
                            font-family: 'Gotham Light', sans-serif;
                        }

                        &-alert {
                            position: absolute;
                            width: 100%;
                            height: 2rem;
                            background-color: $color-red;
                            line-height: 2rem;
                            text-align: center;
                            font-family: 'Gotham Light', sans-serif;
                            color: white;
                            z-index: 1;;
                        }
                    }

                    &-textarea {
                        resize: none;
                        height: 14rem;
                        width: 100%;
                        border: 1px solid #bbbbbb;
                    }
                }
            }
        }

        &-coupon {
            margin-top: 3rem;
            position: relative;
            width: 100%;
            height: 3rem;


            &-input {
                width: 100%;
                height: 100%;
                border: 1px solid #bbbbbb;
                outline: none;
                font-family: 'Gotham Light', sans-serif;
                padding-left: 1rem;
            }

            &-btn {
                position: absolute;
                top: 2.95rem;
                right: .5rem;
                width: 7.75rem;
                height: 2.2rem;
                background-color: $menu-color;
                color: white;
                border-radius: 3px;
                line-height: 2.2rem;
                text-align: center;
            }
        }
    }

    &__cost {
        margin-bottom: 2.5rem;

        &-text {
            line-height: 2rem;

            &_small {
                font-size: $midi-text;
            }
            
            &_big {
                line-height: 2.5rem;
                font-size: $middle-text;
            }

            &_blue {
                color: $menu-color;
            }

        }

    }

    &__finish-btn {
        margin-bottom: 4rem;
    }
}

.has-success {
    border: 1px solid $color-green;
}

.has-error {
    border: 1px solid $color-red;
}