<div class="setting">
  <div class="setting__caption">Настройки</div>


  <div class="setting__dataCont">
      <span>Ваш IP:</span>
      <span class="setting__dataCont__youIP">{{setting.ip}}</span>
  </div>


  <div class="setting__dataCont">
      <div>Логин:</div>
      <input class="setting__dataCont__in"  [(ngModel)]="login" type="text" name="log" placeholder="{{setting.login}}">
  </div>

  <div class="setting__cont">
      <div class="setting__dataCont">
          <div>Пароль:</div>
          <input class="setting__dataCont__in" type="password" name="pas" value="{{setting.password}}">
      </div>
      <div class="setting__dataCont">
          <div>Новый пароль:</div>
          <input class="setting__dataCont__in" [(ngModel)]="password" type="password" name="newPas">
      </div>
  </div>

  <div class="setting__cont">
      <div class="setting__dataCont">
          <div>Фамилия:</div>
          <input class="setting__dataCont__in" [(ngModel)]="lastname" type="text" name="firstname" placeholder="{{setting.lastname}}">
      </div>
      <div class="setting__dataCont">
          <div>Имя:</div>
          <input class="setting__dataCont__in"  [(ngModel)]="firstname" type="text" name="lastname" placeholder="{{setting.firstname}}">
      </div>
      <div class="setting__dataCont">
          <div>Отчество:</div>
          <input class="setting__dataCont__in"  [(ngModel)]="patronymic" type="text" name="patronymic" placeholder="{{setting.patronymic}}">
      </div>
  </div>


  <button (click)="runSettings()" type="setting__button" class="btn btn-primary">Сохранить</button>

</div>
