@import '~variables.scss';

.setting {
    padding: 1rem;

    &__caption {
        font-size: $captionText-size;
        font-weight: $captionText-weight;
        padding: 0 0 2rem 0;
    }

    &__cont {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__dataCont {
        font-size: 1rem;
        font-weight: 800;
        margin: 0 2rem 2rem 0;

        &__in {
          width: 20rem;
          padding: .5rem 0 .5rem 0;
        }

        &__youIP {
            font-weight: 500;
        }
    }
}
