@import '~variables.scss';

.range {
    width: 100%;

    &__slider {
        width: 100%;
        -webkit-appearance: none;
        width: 100%;
        border-radius: 2px;
        height: 4px;
        background-color: #c2c2c2;
        outline: none;
    }
    
    &__slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: $menu-color;
        border: 5px solid white;
        box-sizing: border-box;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.8);
        cursor: pointer;
    }
    
    &__slider::-moz-range-track {
        width: 100%;
        width: 100%;
        border-radius: 2px;
        height: 4px;
        background-color: #c2c2c2;
        outline: none;
    }
    
    &__slider::-moz-range-thumb {
        background-color: $menu-color;
        border: 3px solid white;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.8);
        cursor: pointer;
    }

    &__slider::-ms-fill-lower, 
    &__slider::-ms-fill-upper { 
        background: transparent; 
    } 
    &__slider::-ms-track { 
        border-radius: 2px; 
        height: 4px; 
        border: 1px solid #bdc3c7; 
        background-color: #fff; 
    }

    &__slider::-ms-thumb { 
        background-color: #ecf0f1; 
        border: 1px solid #bdc3c7; 
        width: 20px; 
        height: 20px; 
        border-radius: 10px; 
        cursor: pointer; 
    }

    &__info {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &-value {
            position: relative;
            line-height: 2rem;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 1px;
                height: 8px;
                border-left: 1px solid #dcd8d8;
            }
        }
    }
}

