<div class="range">
  <input class="range__slider" type="range" [max]="max" [value]="current" (change)="changeValue($event)">
  <div class="range__info">
    <div class="range__info-value range__info-value_zero">0{{scale}}</div>
    <div class="range__info-value range__info-value_middle">{{middle}}{{scale}}</div>
    <div class="range__info-value range__info-value_end">{{max}}{{scale}}</div>
  </div>  
</div>
