<div class="login">
  <div class="login__modal">
    <div class="login__modal-close-button" (click)="closeModal()">x</div>
    <div class="login__modal-title">
      <span *ngIf="isAuthorize">Authorization</span>
      <span *ngIf="!isAuthorize">Registration</span>
    </div>

    <form novalidate [formGroup]="registrationForm" class="login__modal-form" (ngSubmit)="onSubmit()">
      
      <div>
          <input formControlName="login" class="login__modal-form-input" type="text" placeholder="Login" [ngClass]="{
            'has-success': login.valid && login.dirty,
            'has-error': login.invalid && login.dirty
          }">
          <div class="alert alert-danger" *ngIf="login.invalid && login.dirty">Required field</div>
      </div>
      
      <div *ngIf="!isAuthorize">
          <input formControlName="email" class="login__modal-form-input" type="email" placeholder="E-mail"[ngClass]="{
            'has-success': email.valid && email.dirty,
            'has-error': email.invalid && email.dirty
          }">
          <div class="alert alert-danger" *ngIf="email.errors && (email.dirty || email.touched)">
            <span *ngIf="email.errors.required">Required field</span>
            <span *ngIf="email.errors.pattern">Wrong format</span>
          </div>
      </div>
      
      <div>
          <input formControlName="password" class="login__modal-form-input" type="password" placeholder="Password"[ngClass]="{
            'has-success': password.valid && password.dirty,
            'has-error': password.invalid && password.dirty
          }">
          <div class="alert alert-danger" *ngIf="password.errors && (password.dirty || password.touched)">
            <span *ngIf="password.errors.required">Required field</span>
            <span *ngIf="password.errors.pattern">Wrong format</span>
            <span *ngIf="password.errors.minlength">Minimum password length: {{ password.errors.minlength.requiredLength}}</span>
            <span *ngIf="password.errors.maxlength">Maximum password length: {{ password.errors.maxlength.requiredLength}}</span>
          </div>
      </div>     

      <button class="login__modal-form-submit" type="submit">
        <span *ngIf="isAuthorize">Login</span>
        <span *ngIf="!isAuthorize">Registration</span>
      </button>

    </form>

    <div class="login__modal-register" (click)="switchRegister()">
      <span *ngIf="isAuthorize">Register</span>
      <span *ngIf="!isAuthorize">Login</span>
    </div>

  </div>
</div>
 