@import '~variables.scss';

.login {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $background-muted-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &__modal {
        width: 40%;
        background-color: $menu-color;
        position: relative;
        padding-bottom: 1rem;

        &-close-button {
            font-weight: bold;
            font-size: 1rem;
            width: 100%;
            height: 1rem;
            cursor: pointer;
            text-align: right;
            line-height: 1rem;
            padding: 1rem;
        }

        &-title {
            text-transform: uppercase;
            font-weight: bold;
            width: 100%;
            text-align: center;
            margin: 1rem 0;
        }

        &-form {
            text-align: center;
            width: 80%;
            margin: 0 auto;

            &-input {
                display: block;
                width: 100%;
                margin-bottom: 1rem;
                position: relative;
                outline: none;
            }

            &-submit {
                width: 30%;
                margin-bottom: 1rem;
            }
        }

        &-register {
            display: block;
            width: 100%;
            text-align: center;
            cursor: pointer;
            font-weight: bold;
            color: $link-color;
        }
    }
}

.has-error {
    border: 1px solid red;
}

.has-success {
    border: 1px solid lightgreen;
}

.alert {
    padding: 0;
    line-height: 1.5rem;
    margin-top: -1rem;
}