<div class="view-quiz">

    <div #submenu class="container-fluid view-quiz__header">
        <div class="row">
            <div class="view-quiz__header-toggle-btn" (click)="toggleMenu()">
                <img class="view-quiz__header-toggle-btn-back" src="assets/images/icons/toggle_btn.png" alt="">
                <img class="view-quiz__header-toggle-btn-arrow" src="assets/images/icons/double_arrow.png" alt="" #toggleArrow>
            </div>

            <div class="col-lg-12">
                <div class="view-quiz__header-submenu">
                    <div class="view-quiz__header-submenu-title">
                        СТО - ремонт авто
                    </div>

                    <div class="view-quiz__header-submenu-nav">
                        <img class="view-quiz__header-submenu-nav-img" src="assets/images/icons/laptop.svg" alt="">
                        <img class="view-quiz__header-submenu-nav-img" src="assets/images/icons/phone.svg" alt="">
                        <div class="view-quiz__header-submenu-nav-btn button button_white" routerLink="../my-quiz-list">Назад</div>
                        <div class="view-quiz__header-submenu-nav-btn button button_blue">Выбрать шаблон</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid view-quiz__content">
        <img class="container-fluid view-quiz__content-img" src="assets/images/quiz.jpg" alt="">
    </div>

</div>