@import '~variables.scss';

.view-quiz {
    transform: translateY(-10rem);

    &__header {
        position: relative;
        border-bottom: 1px solid #bbbbbb;
        transition: all 0.5s ease-in-out;
        background-color: white;

        &-toggle-btn {           
            position: absolute;
            left: 50%;
            top: 0;
            z-index: 5;

            &-arrow {
                transition: all .5s ease-in-out;
                transform: translateX(-49px) rotateZ(0);
            }
        }

        &-submenu {
            height: 4.4rem;
            line-height: 4.4rem;
            text-align: justify;
            
            &:after {
                content: '';
                width: 100%;
                display: inline-block;
            }
    
            &-title {
                text-transform: uppercase;
                font-family: 'Gotham Bold', sans-serif;
                color: $color-text-main;
                font-size: $middle-text;
                display: inline-block;
            }
    
            &-nav {
                display: inline-block;

                &-img {
                    padding-right: 1rem;
                }

                &-btn {
                    margin-right: 1rem;
                    margin-left: 2rem;

                    &:last-child {
                        margin-right: 0;
                        margin-left: 0;
                    }
                }
            }
        }
    }

    &__content {
        margin: 0 !important;
        padding: 0 !important;

        &-img {
            width: 100%;
            padding: 0;
        }
    }

}