@import '~variables.scss';

.add-text {
    position: absolute;
    width: 20.7rem;
    background-color: $menu-color;
    font-family: 'Gotham Bold', sans-serif;
    font-weight: 600;
    border-radius: 6px;
    top: 0.7rem;
    right: -2rem;
    z-index: 1;

    .scrollable {
        // margin-left: 1rem;
    }
        
    &:after {
        content: '';
        position: absolute;
        border: 8px solid transparent;
        border-left: 7px solid #2065a0;
        top: 6px;
        right: -14px;
    }
        
    &__header {
        text-transform: uppercase;
        font-size: .88rem;
        color: white;
        height: 2.75rem;
        line-height: 2.75rem;
        padding-left: 1rem;
        padding-right: .75rem;
        cursor: pointer;
    }
        
    &__content {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: .75rem;
        border-radius: 5px;
        width: 100%;
        background-color: #f0f0f0;
        color: $color-text-main;

        &-header {
            text-transform: uppercase;
            border-bottom: 1px solid #c2c2c2;
            color: $menu-color;
            font-size: .88rem;
            height: 2.8rem;
            line-height: 2.8rem;

        }

        &-group {

            &-item {
                border-bottom: 1px solid #c2c2c2;
                width: 100%;
                height: 3.25rem;
                line-height: 3.25rem;

                &_font {
                    height: 6rem;
                    line-height: 2rem;
                }

                &_color {
                    height: 6rem;
                }

                &-title {
                    display: inline-block;
                }

                &:after {
                    content: '';
                    display: inline-block;
                    width: 100%;
                }

                &-nav {
                    display: inline-block;
        
                    &-btn {
                        cursor: pointer;
                        width: 1.4rem;
                        height: 1.4rem;
                        border-radius: 50%;
                        background-color: #dbdbdb;
                        border-radius: 1px solid #cccccc;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
        
                        &-img {
                            fill: rgb(88,88,88);
                        }
                    }
        
                    &-checkbox {
                        display: none;
                    }
        
                    &-checkbox:checked + &-btn {
                        background-color: $menu-color;
                        border-radius: 1px solid transparent;
                    }
        
                    &-checkbox:checked + &-btn  &-btn-img {
                        fill: rgb(255,255,255);
                    }
        
                    &-radio {
                        display: none;
                    }
        
                    &-selector {
                        cursor: pointer;
                        width: 1.4rem;
                        height: 1.4rem;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                    }
        
                    &-radio:checked + &-selector &-selector-img {
                        fill: $menu-color;
                    }
                }
            }
        }
    
        
    }        
}









