<div class="row section" [ngStyle]="{'height':section.height+'px'}">

    <div *ngFor="let block of section.blocks; let i=index" [ngClass]="'col-lg-'+cols+' block'">        
       <add-item [index]="{section: section.number, block: block.number}" [isLast]="block.number==section.blocks.length-1"></add-item>
       <dom-element *ngFor="let elem of block.elements" [element]="elem"></dom-element>
    </div>

    <img class="add-section" src="assets/images/icons/add_section.png" alt="" (click)="addSection(section.number)">
    <menu-settings [index]="section.number"></menu-settings>

</div>