@import '~variables.scss';

.section {
    width: 100%;
    border: 1px dashed $menu-color;
    position: relative;

    .block {
        width: 100%;
        height: 100%;
        border: 1px dashed red;
        position: relative;
    }  

    .add-section {
        position: absolute;   
        bottom: 0;
        left: calc(50% - 23px);
    }
}

