@import '~variables.scss';


.settings {
    width: 20.6rem;
    height: 28.5rem;
    background-color: #e3e3e3;
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
    border-radius: 4px;
    position: absolute;
    top: 60px;
    right: 380px;
    z-index: 20;
    text-align: center;

    .scrollable {
        width: 100%;
        height: 85%;
        overflow: scroll;
        overflow-x: hidden;
        background-color: #f0f0f0;
        text-align: left;
    }

    &:after {
        content: '';
        position: absolute;
        border-top: 0px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 5px solid #f0f0f0;
        border-left: 9px solid transparent;
        top: -4px;
        left: 288px;
    }

    &__header {
        width: 100%;
        height: 2.8rem;
        line-height: 2.8rem;
        padding-left: 1rem;
        color: $menu-color;
        cursor: pointer;
        font-family: 'Gotham Bold', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: 1px solid #c2c2c2;
    }

    &__content {
        margin: 0 1rem;
        font-family: 'Gotham Medium', sans-serif;
        font-weight: 600;
        font-size: .75rem;

        &-item {
            width: 100%;
            border-bottom: 1px solid #c2c2c2;
            text-align: justify;
            line-height: 3rem;
            height: 3rem;

            &_font {
                height: 6rem;
                line-height: 2rem;

                .form-control {
                    border-radius: 0;
                    background-color: #dbdbdb;
                    border: 1px solid #cacaca;
                    height: 1.88rem;
                    font-family: 'Gotham Regular', sans-serif;
                    font-size: 14px;
                }
            }

            &_color {
                height: 6rem;;
            }

            &:after {
                content: '';
                display: inline-block;
                width: 100%;
            }

            &-nav {
                display: inline-block;

                &-title {
                    display: inline-block;
                }
    
                &-btn {
                    cursor: pointer;
                    width: 1.4rem;
                    height: 1.4rem;
                    border-radius: 50%;
                    background-color: #dbdbdb;
                    border-radius: 1px solid #cccccc;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
    
                    &-img {
                        fill: rgb(88,88,88);
                    }
                }
    
                &-checkbox {
                    display: none;
                }
    
                &-checkbox:checked + &-btn {
                    background-color: $menu-color;
                    border-radius: 1px solid transparent;
                }
    
                &-checkbox:checked + &-btn  &-btn-img {
                    fill: rgb(255,255,255);
                }
    
                &-radio {
                    display: none;
                }
    
                &-selector {
                    cursor: pointer;
                    width: 1.4rem;
                    height: 1.4rem;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }
    
                &-radio:checked + &-selector &-selector-img {
                    fill: $menu-color;
                }
            }

            &-palette {

                &-color {
                    display: inline;

                    &-radio {
                        display: none;
                    }

                    &-radio:checked + &-btn:after {
                        display: flex;
                    }

                    &-btn {
                        cursor: pointer;
                        width: 1.8rem;
                        height: 1.8rem;
                        border-radius: 50%;
                        background-color: white;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        vertical-align: top;
                        position: relative;

                        &:after {
                            content: '\2714';
                            display: none;
                            width: .86rem;
                            height: .86rem;
                            border-radius: 50%;
                            position: absolute;
                            right: -3px;
                            top: -3px;
                            color: white;
                            background-color: #585858;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }

            &-family {
                width: 60%;
                display: inline-block;
            }

            &-size {
                width: 35%;
                display: inline-block;
            }            
        }
    }

    &__button {
        color: #585858;
        cursor: pointer;
        font-family: 'Gotham Medium', sans-serif;
        font-size: .8rem;
        font-weight: 400;
        border-radius: 1.2rem;
        padding: .87rem 2rem;

        &:hover {
            color: #ffffff;
            background-color: $menu-color;
            font-weight: 400;
        }
    }
}