<div class="settings">

    <div class="scrollable">

        <div class="settings__header" (click)="toggleItems(0)">
            {{ 'create-quiz.text-settings-main' | translate }}
        </div>

        <div class="settings__content">
            <div class="settings__content-item">
                <span class="settings__content-item-title">{{ 'create-quiz.format' | translate }}:</span>

                <div class="settings__content-item-nav">
                    <input id="bold" class="settings__content-item-nav-checkbox" type="checkbox" [(ngModel)]="settings.font.bold">
                    <label for="bold" class="settings__content-item-nav-btn">
                        <svg width="8px" height="10px">
                            <path class="settings__content-item-nav-btn-img" fill-rule="evenodd" fill="rgb(88, 88, 88)" d="M7.478,5.371 C7.137,4.915 6.631,4.598 5.961,4.420 C6.431,4.173 6.715,4.006 6.813,3.919 C7.052,3.715 7.232,3.487 7.353,3.235 C7.474,2.984 7.535,2.706 7.535,2.402 C7.535,2.120 7.495,1.855 7.416,1.608 C7.336,1.360 7.213,1.134 7.046,0.930 C6.876,0.726 6.682,0.561 6.466,0.435 C6.266,0.323 6.084,0.238 5.921,0.182 C5.531,0.064 5.169,0.006 4.835,0.006 L4.415,0.006 C4.339,0.006 4.262,0.005 4.184,0.002 C4.107,0.000 4.066,-0.001 4.062,-0.001 C4.044,-0.001 4.017,0.000 3.983,0.002 C3.949,0.005 3.922,0.006 3.903,0.006 L3.647,0.012 L1.488,0.097 L0.010,0.136 L0.033,0.676 C0.351,0.724 0.567,0.752 0.681,0.761 C0.874,0.774 1.005,0.807 1.073,0.859 C1.115,0.894 1.138,0.920 1.141,0.937 C1.179,1.032 1.200,1.269 1.204,1.647 C1.219,2.289 1.236,3.166 1.255,4.277 L1.266,7.513 C1.266,8.069 1.249,8.490 1.215,8.777 C1.200,8.881 1.160,8.991 1.096,9.109 C0.922,9.191 0.689,9.258 0.397,9.311 C0.310,9.323 0.181,9.349 0.010,9.389 L-0.001,10.001 C0.905,9.966 1.420,9.942 1.545,9.929 C2.356,9.873 2.920,9.849 3.238,9.858 L4.358,9.883 C4.798,9.901 5.173,9.877 5.483,9.812 C5.976,9.708 6.360,9.577 6.637,9.421 C6.917,9.265 7.183,9.030 7.433,8.718 C7.622,8.479 7.756,8.225 7.836,7.956 C7.946,7.587 8.001,7.238 8.001,6.908 C8.001,6.343 7.827,5.831 7.478,5.371 ZM3.028,0.755 C3.324,0.698 3.570,0.670 3.767,0.670 C4.415,0.670 4.898,0.833 5.216,1.158 C5.538,1.484 5.699,1.890 5.699,2.376 C5.699,3.066 5.531,3.552 5.194,3.834 C4.856,4.117 4.356,4.258 3.693,4.258 C3.443,4.258 3.237,4.243 3.074,4.212 C3.070,4.065 3.068,3.897 3.068,3.711 L3.074,3.073 C3.078,2.391 3.066,1.786 3.040,1.256 C3.032,1.113 3.028,0.946 3.028,0.755 ZM5.870,8.275 C5.730,8.588 5.498,8.833 5.177,9.011 C4.854,9.189 4.445,9.278 3.949,9.278 C3.706,9.278 3.441,9.209 3.153,9.070 C3.108,8.944 3.085,8.848 3.085,8.783 L3.068,7.025 L3.074,5.898 L3.074,4.961 C3.176,4.917 3.367,4.896 3.648,4.896 C4.280,4.896 4.748,4.965 5.051,5.104 C5.366,5.243 5.633,5.517 5.853,5.925 C6.008,6.211 6.086,6.602 6.086,7.097 C6.086,7.579 6.014,7.971 5.870,8.275 Z"
                            />
                        </svg>
                    </label>

                    <input id="italic" class="settings__content-item-nav-checkbox" type="checkbox" [(ngModel)]="settings.font.italic">
                    <label for="italic" class="settings__content-item-nav-btn">
                        <svg width="7px" height="10px">
                            <path class="settings__content-item-nav-btn-img" fill-rule="evenodd" fill="rgb(88, 88, 88)" d="M6.753,0.016 C6.594,0.026 6.439,0.036 6.289,0.045 C5.614,0.084 5.127,0.103 4.826,0.103 C4.671,0.103 4.505,0.099 4.327,0.090 L2.160,-0.001 L2.030,0.670 C2.076,0.679 2.162,0.687 2.290,0.696 C2.759,0.722 3.087,0.783 3.274,0.878 L3.274,1.126 L3.220,1.451 L3.069,2.330 L2.960,2.740 L2.762,3.763 C2.762,3.767 2.754,3.792 2.738,3.838 C2.722,3.883 2.701,3.949 2.676,4.036 C2.651,4.123 2.623,4.224 2.591,4.339 C2.559,4.454 2.522,4.599 2.481,4.775 C2.440,4.951 2.402,5.134 2.365,5.325 L2.283,5.742 L1.900,7.487 L1.716,8.392 C1.661,8.670 1.568,8.889 1.436,9.050 C1.253,9.137 0.989,9.221 0.643,9.304 C0.310,9.386 0.135,9.430 0.116,9.434 L0.000,9.988 C0.110,9.979 0.333,9.960 0.670,9.929 C1.276,9.877 1.673,9.853 1.859,9.857 L3.213,9.870 C3.787,9.927 4.117,9.964 4.204,9.981 C4.290,9.994 4.354,10.001 4.395,10.001 C4.477,10.001 4.573,9.996 4.682,9.988 C4.705,9.983 4.757,9.981 4.839,9.981 C4.849,9.938 4.869,9.849 4.901,9.714 C4.928,9.588 4.944,9.462 4.949,9.336 C4.812,9.315 4.662,9.293 4.497,9.271 C4.247,9.245 3.976,9.200 3.684,9.135 C3.671,9.048 3.668,8.989 3.677,8.959 L3.760,8.666 L4.053,7.136 L4.313,6.107 L4.730,4.082 C4.830,3.617 4.981,2.953 5.181,2.089 C5.200,1.924 5.229,1.747 5.270,1.555 C5.325,1.308 5.380,1.117 5.434,0.982 C5.603,0.917 5.833,0.850 6.125,0.781 C6.371,0.729 6.619,0.661 6.870,0.579 C6.897,0.483 6.927,0.373 6.959,0.247 C6.977,0.164 6.991,0.082 7.000,-0.001 C6.995,-0.001 6.913,0.005 6.753,0.016 Z"
                            />
                        </svg>
                    </label>
                </div>
            </div>

            <div class="settings__content-item">
                <span class="settings__content-item-title">{{ 'create-quiz.align' | translate }}:</span>

                <div class="settings__content-item-nav">
                    <input id="left" class="settings__content-item-nav-radio" type="radio" name="align" value="left" [(ngModel)]="settings.font.align">
                    <label for="left" class="settings__content-item-nav-selector">
                        <svg width="11px" height="10px">
                            <path class="settings__content-item-nav-selector-img" fill-rule="evenodd" fill="rgb(88, 88, 88)" d="M-0.000,10.000 L-0.000,8.000 L11.000,8.000 L11.000,10.000 L-0.000,10.000 ZM-0.000,-0.000 L9.000,-0.000 L9.000,2.000 L-0.000,2.000 L-0.000,-0.000 ZM7.000,6.000 L-0.000,6.000 L-0.000,4.000 L7.000,4.000 L7.000,6.000 Z"
                            />
                        </svg>
                    </label>

                    <input id="center" class="settings__content-item-nav-radio" type="radio" name="align" value="center" checked [(ngModel)]="settings.font.align">
                    <label for="center" class="settings__content-item-nav-selector">
                        <svg width="11px" height="10px">
                            <path class="settings__content-item-nav-selector-img" fill-rule="evenodd" fill="rgb(88, 88, 88)" d="M-0.000,10.000 L-0.000,8.000 L11.000,8.000 L11.000,10.000 L-0.000,10.000 ZM2.000,6.000 L2.000,4.000 L9.000,4.000 L9.000,6.000 L2.000,6.000 ZM1.000,-0.000 L10.000,-0.000 L10.000,2.000 L1.000,2.000 L1.000,-0.000 Z"
                            />
                        </svg>
                    </label>

                    <input id="right" class="settings__content-item-nav-radio" type="radio" name="align" value="right" [(ngModel)]="settings.font.align">
                    <label for="right" class="settings__content-item-nav-selector">
                        <svg width="11px" height="10px">
                            <path class="settings__content-item-nav-selector-img" fill-rule="evenodd" fill="rgb(88, 88, 88)" d="M-0.000,10.000 L-0.000,8.000 L11.000,8.000 L11.000,10.000 L-0.000,10.000 ZM4.000,4.000 L11.000,4.000 L11.000,6.000 L4.000,6.000 L4.000,4.000 ZM2.000,-0.000 L11.000,-0.000 L11.000,2.000 L2.000,2.000 L2.000,-0.000 Z"
                            />
                        </svg>
                    </label>

                    <input id="justify" class="settings__content-item-nav-radio" type="radio" name="align" value="justify" [(ngModel)]="settings.font.align">
                    <label for="justify" class="settings__content-item-nav-selector">
                        <svg width="11px" height="10px">
                            <path class="settings__content-item-nav-selector-img" fill-rule="evenodd" fill="rgb(88, 88, 88)" d="M-0.000,10.000 L-0.000,8.000 L11.000,8.000 L11.000,10.000 L-0.000,10.000 ZM-0.000,4.000 L11.000,4.000 L11.000,6.000 L-0.000,6.000 L-0.000,4.000 ZM-0.000,-0.000 L11.000,-0.000 L11.000,2.000 L-0.000,2.000 L-0.000,-0.000 Z"
                            />
                        </svg>
                    </label>
                </div>

            </div>

            <div class="settings__content-item settings__content-item_font">
                <div class="settings__content-item-family">
                    <div class="form-group">
                        <label for="font">{{ 'create-quiz.font' | translate }}:</label>
                        <select class="form-control" id="font" [(ngModel)]="settings.font.family">
                            <option>Gotham Bold</option>
                            <option>Times New Roman</option>
                            <option>PT Sans</option>
                        </select>
                    </div>
                </div>

                <div class="settings__content-item-size">
                    <div class="form-group">
                        <label for="size">{{ 'create-quiz.size' | translate }}:</label>
                        <select class="form-control" id="size" [(ngModel)]="settings.font.size">
                            <option>8</option>
                            <option>10</option>
                            <option>12</option>
                            <option>14</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="settings__content-item settings__content-item_color">
                <span class="settings__content-item-title">{{ 'create-quiz.color' | translate }}:</span>

                <div class="settings__content-item-palette">
                    <label *ngFor="let color of preColor" class="settings__content-item-palette-color">
                        <input class="settings__content-item-palette-color-radio" type="radio" name="color" value={{color}} [(ngModel)]="settings.font.color">
                        <div class="settings__content-item-palette-color-btn" [ngStyle]='{"background-color": color}'></div>
                    </label>
                    <label class="settings__content-item-palette-color">
                        <input class="settings__content-item-palette-color-radio" type="radio" name="color">
                        <div class="settings__content-item-palette-color-btn" [(colorPicker)]="color" [style.background]="color" (colorPickerChange)="changeColor($event)">
                            <svg width="16px" height="17px">
                                <path fill-rule="evenodd" fill="rgb(88, 88, 88)" d="M15.977,1.921 C15.621,2.659 8.159,12.286 8.159,12.286 L5.487,10.330 C5.487,10.330 13.481,1.856 14.903,0.815 C16.134,0.712 15.977,1.921 15.977,1.921 ZM0.078,16.742 C0.078,16.742 2.771,16.689 2.434,14.305 C2.096,11.920 4.993,10.969 4.993,10.969 L7.666,12.923 C6.074,18.372 0.078,16.742 0.078,16.742 Z"
                                />
                            </svg>
                        </div>
                    </label>

                </div>
            </div>
        </div>

        <div class="settings__header" (click)="toggleItems(1)">
            {{ 'create-quiz.background-settings-main' | translate }}
        </div>

        <div class="settings__content">
            <div class="settings__content-item settings__content-item_color">
                <span class="settings__content-item-title">{{ 'create-quiz.color' | translate }}:</span>

                <div class="settings__content-item-palette">
                    <label *ngFor="let color of preColor" class="settings__content-item-palette-color">
                        <input class="settings__content-item-palette-color-radio" type="radio" name="background" value={{color}} [(ngModel)]="settings.background.color">
                        <div class="settings__content-item-palette-color-btn" [ngStyle]='{"background-color": color}'></div>
                    </label>
                    <label class="settings__content-item-palette-color">
                        <input class="settings__content-item-palette-color-radio" type="radio" name="background">
                        <div class="settings__content-item-palette-color-btn" [(colorPicker)]="color" [style.background]="color" (colorPickerChange)="changeBackground($event)">
                            <svg width="16px" height="17px">
                                <path fill-rule="evenodd" fill="rgb(88, 88, 88)" d="M15.977,1.921 C15.621,2.659 8.159,12.286 8.159,12.286 L5.487,10.330 C5.487,10.330 13.481,1.856 14.903,0.815 C16.134,0.712 15.977,1.921 15.977,1.921 ZM0.078,16.742 C0.078,16.742 2.771,16.689 2.434,14.305 C2.096,11.920 4.993,10.969 4.993,10.969 L7.666,12.923 C6.074,18.372 0.078,16.742 0.078,16.742 Z"
                                />
                            </svg>
                        </div>
                    </label>

                </div>
            </div>
        </div>

    </div>

    <span class="settings__button" (click)="saveSettings()">Сохранить</span>
    <span class="settings__button" (click)="cancelSettings()">Отмена</span>

</div>