@import '~variables.scss';

.add-item {
    position: absolute;
    top: 5px;
    right: 5px;

    &_last {
        right: 35px;
    }

    &__button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $menu-color;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__radio {
        display: none;
    }

    &__radio:checked + &__menu {
        display: block;
    }

    &__menu {
        display: none;
        width: 20.7rem;
        background-color: $menu-color;
        font-family: 'Gotham Bold', sans-serif;
        font-weight: 600;
        border-radius: 6px;
        position: absolute;
        top: 0rem;
        right: 2.5rem;
        z-index: 1;
        
        &:after {
            content: '';
            position: absolute;
            border: 8px solid transparent;
            border-left: 7px solid #2065a0;
            top: 6px;
            right: -14px;
        }
        
        &-header {
            text-transform: uppercase;
            font-size: .88rem;
            color: white;
            height: 2.75rem;
            line-height: 2.75rem;
            padding-left: 1rem;
            padding-right: .75rem;
        }
        
        &-content {
            font-size: .75rem;
            border-radius: 5px;
            width: 100%;
            background-color: #f0f0f0;
            color: $color-text-main;
    
            &-item {
                border-bottom: 1px solid #c2c2c2;
                position: relative;
                width: 100%;
                height: 3.25rem;

                &-radio {
                    display: none;
                }

                &-radio:checked + &-label {
                    background-color: #d0d0d0;
                }

                &-radio:checked ~ &-submenu {
                    display: block;
                }

                &-label {
                    width: 100%;
                    height: 100%;
                    line-height: 3.25rem;
                    padding-left: 1rem;
                }

                &-submenu {
                    position: absolute;
                    left: -3rem;
                    top: 0;
                    display: none;
                }
            }
        }        
    }

}







