<div class="add-item" [ngClass]="{'add-item_last':isLast}">
    <label for="add-item_{{index.section}}_{{index.block}}" class="add-item__button">
        <svg width="14px" height="14px">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M14.000,8.000 L8.000,8.000 L8.000,14.000 L6.000,14.000 L6.000,8.000 L-0.000,8.000 L-0.000,6.000 L6.000,6.000 L6.000,-0.000 L8.000,-0.000 L8.000,6.000 L14.000,6.000 L14.000,8.000 Z"
            />
        </svg>
    </label>

    <input id="add-item_{{index.section}}_{{index.block}}" type="radio" name="menu" class="add-item__radio">

    <div class="add-item__menu">
        <div class="add-item__menu-header">
            <span>Добавить элемент</span>
        </div>

        <div class="add-item__menu-content">

            <div class="add-item__menu-content-item">
                <input id="image_{{index.section}}_{{index.block}}" class="add-item__menu-content-item-radio" type="radio" name="submenu">
                <label for="image_{{index.section}}_{{index.block}}" class="add-item__menu-content-item-label">
                    <span>Картинка</span>
                </label>
                
            </div>

            <div class="add-item__menu-content-item">
                <input id="text_{{index.section}}_{{index.block}}" class="add-item__menu-content-item-radio" type="radio" name="submenu">
                <label for="text_{{index.section}}_{{index.block}}" class="add-item__menu-content-item-label">
                    <span>Текст</span>
                </label>
                <add-text [index]="index" class="add-item__menu-content-item-submenu"></add-text>
            </div>

            <div class="add-item__menu-content-item">
                <input id="button_{{index.section}}_{{index.block}}" class="add-item__menu-content-item-radio" type="radio" name="submenu">
                <label for="button_{{index.section}}_{{index.block}}" class="add-item__menu-content-item-label">
                    <span>Кнопка</span>
                </label>
                <add-button [index]="index" class="add-item__menu-content-item-submenu"></add-button>
            </div>



            <!--
            <div class="add-item__menu-content-item">Блок 1</div>
            <div class="add-item__menu-content-item">Блок 2</div>-->
        </div>
    </div>
</div>