<div class="container-fluid my-quiz">
  <div class="row my-quiz__header">
    <div class="col-lg-12 my-quiz__header-title">
      <span class="my-quiz__header-title-text">Мои Quiz</span>
      <div class="my-quiz__header-title-filter">
        <img class="my-quiz__header-title-filter-icon" src="assets/images/icons/blocks.svg" alt="">
        <img class="my-quiz__header-title-filter-icon" src="assets/images/icons/list.svg" alt="">        
      </div>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3" *ngFor="let quiz of quizs">

      <quiz-item [isInfoBlock]="isInfoBlock" [isButtonVisible]="isButtonVisible" [info]="quiz" ></quiz-item>
      <!-- [isGroupButton]="true" -->

    </div>
  </div>
</div>