@import '~variables.scss';

.my-quiz {
    font-family: 'Gotham Bold', sans-serif;
    color: $color-text-main;
    font-size: $midi-text;
    margin-top: 3.1rem;

    &__header {
        margin-bottom: 2rem;

        &-title {
            text-transform: uppercase;
            font-size: $big-text;            

            &-filter {
                float: right;

                &-icon {
                    cursor: pointer;
                }
            }
        }
    }
}