<div class="faq">

    <div class="faq__header">
        Гид по используемым элементам в лендинге
    </div>

    <div class="faq__group">

        <div class="faq__group-item">
            <div class="faq__group-item-img">
                <i class="fa fa-cog"></i>
            </div>
            <span class="faq__group-item-title" (click)="toggleItem(0)">Настройка форматирования секции</span>
            <div class="faq__group-item-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
            <div class="faq__group-item-divider"></div>
        </div>

        <div class="faq__group-item">
            <div class="faq__group-item-img">
                <i class="fa fa-cog"></i>
            </div>
            <span class="faq__group-item-title" (click)="toggleItem(1)">Настройка форматирования секции</span>
            <div class="faq__group-item-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
            <div class="faq__group-item-divider"></div>
        </div>

        <div class="faq__group-item">
            <div class="faq__group-item-img">
                <i class="fa fa-cog"></i>
            </div>
            <span class="faq__group-item-title" (click)="toggleItem(2)">Настройка форматирования секции</span>
            <div class="faq__group-item-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
            <div class="faq__group-item-divider"></div>
        </div>

        <div class="faq__group-item">
            <div class="faq__group-item-img">
                <i class="fa fa-cog"></i>
            </div>
            <span class="faq__group-item-title" (click)="toggleItem(3)">Настройка форматирования секции</span>
            <div class="faq__group-item-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </div>
            <div class="faq__group-item-divider"></div>
        </div>
    </div>

    <div class="faq__footer">
        <input #checkbox id="check" class="faq__footer-switch" type="checkbox">
        <label for="check" class="faq__footer-group" (click)="switchFaq()">
            <div class="faq__footer-group-checkbox"></div>
            <span class="faq__footer-group-text">Больше не выводить окно подсказок</span>
        </label>
    </div>

</div>