@import '~variables.scss';

.faq {
    width: 51rem;
    height: 28.5rem;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
    border-radius: 4px;
    position: absolute;
    right: 412px;
    top: 60px;
    z-index: 20;

    &:after {
        content: '';
        position: absolute;
        border-top: 0px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 5px solid #f0f0f0;
        border-left: 9px solid transparent;
        top: -5px;
        left: 772px;
    }

    &__header {
        width: 100%;
        height: 2.8rem;
        line-height: 2.8rem;
        padding-left: 1rem;
        color: $menu-color;
        font-family: 'Gotham Bold', sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: 1px solid #c2c2c2;
    }

    &__group {
        margin-left: 1.25rem;
        margin-top: 1rem;
        margin-right: .75rem;
        height: 20.5rem;
        overflow: scroll;

        &-item {
            

            &-img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background-color: $menu-color;
                color: white;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }

            &-title {
                font-family: 'Gotham Medium', sans-serif;
                font-size: 1rem;
                font-weight: 600;
                padding-left: 1rem;
            }

            &-text {
                font-family: 'Gotham Light', sans-serif;
                font-size: 1rem;
                line-height: 1.5rem;
                margin-left: 3.5rem;
                padding-bottom: 1rem;
            }

            &-divider {
                height: 1px;
                width: 90%;
                margin-left: 3.5rem;
                border-bottom: 1px solid #c2c2c2;
            }
        }
        

    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3.5rem;
        width: 100%;
        line-height: 3.5rem;
        padding-left: 1rem;
        background-color: #e3e3e3;

        &-switch {
            display: none;
        }

        &-switch:checked + &-group > &-group-checkbox:after {
            display: block;
        }

        &-group {
            padding-left: 1rem;

            &-checkbox {
                display: inline-block;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                border: 1px solid #8c8c8c;
                position: relative;

                &:after {
                    content: '';
                    display: none;
                    position: absolute;
                    width: .6rem;
                    height: .6rem;
                    border-radius: 50%;
                    background-color: $menu-color;
                    left: .12rem;
                    top: .12rem;
                }
            }

            &-text {
                color: #737373;
                font-family: 'Gotham Light', sans-serif;
                font-size: 1rem;
                padding-left: 1rem;
            }
        }
    }
}