@import '~variables.scss';


.content_forPartners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .5rem 0 1rem 1rem;
}

.partners {
    &__caption {
        display: block;
        font-size: $captionText-size;
        font-weight: $captionText-weight;
        padding: 2rem 0 1.5rem 0;

    }

    &__form-and-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__from {
        display: block;
        padding: 0;
    }


    &__input {
        display: block;
        font-size: 1.1rem;
        padding: .3rem;
        margin: 0;
    }

    &__text {
        display: block;
        font-size: .9rem;
        margin-left: 2rem;
        line-height: 1.2rem;
    }
}


.balance {
    position: relative;
    padding-right: 1rem;
    z-index: -1;

    &__value {
        background-color: $background-color-balance;
        -webkit-box-shadow: 2px 2px 10px rgba(20, 19, 19, .3);
        box-shadow: 2px 2px 10px rgba(20, 19, 19, .3);
        font-size: 1rem;
        font-weight: 600;
        padding: 2rem 0 2rem 0;
        text-align: center;
    }
}


.youAffilates {
    padding: 2rem 1rem 0rem 2rem;

    &__caption {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 1.3rem;
        font-weight: 700;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 1rem;

        &__filter {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font-size: 1rem;
            font-weight: 500;

            &__form {
                padding-left: 1rem;

                &__option {
                    padding-right: 3rem;
                    -webkit-box-shadow: 2px 2px 10px rgba(20, 19, 19, .3);
                    box-shadow: 2px 2px 10px rgba(20, 19, 19, .3);
                    border-radius: .2rem;

                }
            }

        }
    }

    &__tableOfAffilates {


        &__tableHeader {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            list-style: none;
            padding: 0;
            margin: 0;

            &__name {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                border: 0.05rem solid black;
                background-color: $background-color-tableHeader;
                cursor: pointer;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                font-size: 1rem;
                font-weight: 600;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                margin: 0;
                padding: .5rem;

                &__img {
                    width: 1rem;
                }
            }

            &__name:hover {
                opacity: .6;

            }
        }

        &__oneAffilates {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 0;
            margin: 0;

            &__data {
                border: 0.05rem solid black;
                border-top: none;
                font-size: .9rem;
                list-style: none;
                padding: .3rem .5rem .3rem .5rem;
            }
        }
    }
}
