<div class="content_forPartners">
    <div class="partners col-md-10">
        <span class="partners__caption">Пертнерам</span>
        <div class="partners__form-and-text">
            <form class="partners__form w-50"  action="/">
                <input class="partners__input w-100" type="text" name="linkFor" placeholder="dfg1dcadfsgfds0dfs9df8gs9df8gs9dfg0sdf">
            </form>

            <span class="partners__text">
                Ваша реферальная ссылка <br>
                Оправьте ее Вашему будущему афилат
            </span>
        </div>

    </div>

    <div class="balance col-md-2">
          <div class="balance__value">
              Баланс: {{balance}}руб.
          </div>
    </div>
</div>


<div class="youAffilates">
    <div class="youAffilates__caption">
          <span>Ваши афилаты</span>

          <div class="youAffilates__caption__filter">
              <span>Период отображения</span>
              <div class="youAffilates__caption__filter__form">
                  <select (change)="filterDay()" [(ngModel)]="dateCategory" class="youAffilates__caption__filter__form__option" size="1" name="filter">
                      <option [value]="0" [selected]="dateCategory==0">За день</option>
                      <option [value]="1" [selected]="dateCategory==1">За неделю</option>
                      <option [value]="2" [selected]="dateCategory==2">За месяц</option>
                      <option [value]="3" [selected]="dateCategory==3">За все время</option>
                  </select>
              </div>
          </div>
    </div>

    <div class="youAffilates__tableOfAffilates">
        <ul class="youAffilates__tableOfAffilates__tableHeader">
            <li class="youAffilates__tableOfAffilates__tableHeader__name w-100" (click)="runFilter( 'name' ); runFilterIcon( 'name' )">
                <span>Имя</span>
                <img *ngIf="!isFilterOnName" src="./assets/images/icons/sort-alpha-down.png" class="youAffilates__tableOfAffilates__tableHeader__name__img">
                <img *ngIf="isFilterOnName" src="./assets/images/icons/sort-alpha-up.png" class="youAffilates__tableOfAffilates__tableHeader__name__img">
            </li>
            <li class="youAffilates__tableOfAffilates__tableHeader__name w-100" (click)="runFilter( 'quiz' ); runFilterIcon( 'quiz' )">
                <span>Квизы</span>
                <img *ngIf="!isFilterOnQuiz" src="./assets/images/icons/sort-numeric-down.png" class="youAffilates__tableOfAffilates__tableHeader__name__img">
                <img *ngIf="isFilterOnQuiz" src="./assets/images/icons/sort-numeric-up.png" class="youAffilates__tableOfAffilates__tableHeader__name__img">

            </li>
            <li class="youAffilates__tableOfAffilates__tableHeader__name w-100" (click)="runFilter( 'paid_quiz' ); runFilterIcon( 'paid_quiz' )">
                <span>Оплаченые квизы</span>
                <img *ngIf="!isFilterOnPaidQuiz" src="./assets/images/icons/sort-numeric-down.png" class="youAffilates__tableOfAffilates__tableHeader__name__img">
                <img *ngIf="isFilterOnPaidQuiz" src="./assets/images/icons/sort-numeric-up.png" class="youAffilates__tableOfAffilates__tableHeader__name__img">
            </li>
            <li class="youAffilates__tableOfAffilates__tableHeader__name w-100" (click)="runFilter( 'profit' ); runFilterIcon( 'profit' )">
                <span>Прибыль</span>
                <img *ngIf="!isFilterOnProfit" src="./assets/images/icons/sort-numeric-down.png" class="youAffilates__tableOfAffilates__tableHeader__name__img">
                <img *ngIf="isFilterOnProfit" src="./assets/images/icons/sort-numeric-up.png" class="youAffilates__tableOfAffilates__tableHeader__name__img">
            </li>
        </ul>
        <ul class="youAffilates__tableOfAffilates__oneAffilates"
            *ngFor="let data of affilatesData | sort:sortVar:upOrDown">
            <li class="youAffilates__tableOfAffilates__oneAffilates__data w-100">
                {{data.name}}
            </li>
            <li class="youAffilates__tableOfAffilates__oneAffilates__data w-100">
                {{data.quiz}}
            </li>
            <li class="youAffilates__tableOfAffilates__oneAffilates__data w-100">
                {{data.paid_quiz}}
            </li>
            <li class="youAffilates__tableOfAffilates__oneAffilates__data w-100">
                {{data.profit}}руб.
            </li>

        </ul>
    </div>
    
</div>
