.effect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .form-control {
        border-radius: 0;
        background-color: #dbdbdb;
        border: 1px solid #cacaca;
        height: 1.88rem;
        font-family: 'Gotham Regular', sans-serif;
        font-size: 14px;
    }
}