<div class="effect">
    <div class="form-group">
        <span>Эффект:</span>
        <select class="form-control" id="font">
            <option>Глянец</option>
            <option>Еще что то</option>
            <option>И еще что то</option>
        </select>
    </div>

    <div class="effect__intensive">
        <span>Сила эффекта:</span>
        <scroll-bar [max]="100" [current]="40" [type]="percent"></scroll-bar>
    </div>
</div>