@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~variables.scss';

.container-fluid {
    padding: 0 35px;
}

.button {
    color: $color-text-white;
    font-family: 'Gotham Medium', sans-serif;
    font-size: 1.15rem;
    height: 2.88rem;
    padding: 0 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.44rem;
    outline: none;
    cursor: pointer;

    &_red { 
        background-color: $color-red;
        box-shadow: 0px 4px 0px 0px #a72e2d;
    }

    &_muted {
        background-color: #9e9e9e;
        box-shadow: 0px 4px 0px 0px #737373;
    }

    &_white {
        color: $menu-color;
        border: 1px solid $menu-color;
        background-color: $color-text-white;
    }

    &_blue {
        border: 1px solid $menu-color;
        background-color: $menu-color;
    }

    &_hover-blue {
        background-color: transparent;
        font-family: 'Gotham Medium', sans-serif;
        font-size: .8rem;
        font-weight: 400;
        color: #585858;

        &:hover {
            background-color: $menu-color;
            color: white;
            font-family: 'Gotham Bold', sans-serif;
        }
    }
}

::-webkit-scrollbar-button {
    background-repeat:no-repeat;
    width:5px;
    height:0px
    }
    
    ::-webkit-scrollbar-track {
    background-color:#ecedee
    }
    
    ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#6dc0c8;
    }
    
    ::-webkit-scrollbar-thumb:hover{
    background-color:#56999f;
    }
    
    ::-webkit-resizer{
    background-repeat:no-repeat;
    width:4px;
    height:0px
    }
    
    ::-webkit-scrollbar{
    width: 4px;
    }

@font-face {
    font-family: 'Gotham Bold';    
    src: url('assets/fonts/GothamProBold.eot');    
    src: url('assets/fonts/GothamProBold.eot?iefix') format('eot'),    
    url('assets/fonts/GothamProBold.woff') format('woff'),    
    url('assets/fonts/GothamProBold.ttf') format('truetype');    
    font-weight: bold;    
    font-style: normal;  
}

@font-face {
    font-family: 'Gotham Light';    
    src: url('assets/fonts/GothamProLight.eot');    
    src: url('assets/fonts/GothamProLight.eot?iefix') format('eot'),    
    url('assets/fonts/GothamProLight.woff') format('woff'),    
    url('assets/fonts/GothamProLight.ttf') format('truetype');    
    font-weight: normal;    
    font-style: normal;  
}

@font-face {
    font-family: 'Gotham Medium';    
    src: url('assets/fonts/GothamProMedium.eot');    
    src: url('assets/fonts/GothamProMedium.eot?iefix') format('eot'),    
    url('assets/fonts/GothamProMedium.woff') format('woff'),    
    url('assets/fonts/GothamProMedium.ttf') format('truetype');    
    font-weight: normal;    
    font-style: normal;  
}

@font-face {
    font-family: 'Gotham Regular';    
    src: url('assets/fonts/GothamProRegular.eot');    
    src: url('assets/fonts/GothamProRegular.eot?iefix') format('eot'),    
    url('assets/fonts/GothamProRegular.woff') format('woff'),    
    url('assets/fonts/GothamProRegular.ttf') format('truetype');    
    font-weight: normal;    
    font-style: normal;  
}