// COLORS //

$menu-color: #2065a0;
$submenu-color: #f7f7f7;
$color-block-gray: #f3f3f3;
$color-text-white: #ffffff;
$color-text-main: #585858;
$color-red: #dc3837;
$color-green: #4c875e;
$color-border: #bbbbbb;

// DIMENSIONS//

$big-text: 1.75rem;
$middle-text: 1.5rem;
$midi-text: 1rem;
$small-text: .75rem;

// HOME PAGE ////////////////////////////////////////
$captionText-size: 2.4rem;
$captionText-weight: 700;

$carousel-examples-control-color: black;

// const for menu
$background-muted-color: rgba(lightseagreen, .1);
$link-color: lightseagreen;
$menu-height: 5rem;

// const for contentTop
$contentTop-color: lightgray;
$contentTop-button-color: #2098d2;

// const for aboutProject
$aboutProject-color: #F2F2F2;

//const for presentation
$presentation-color: lightgray;
$presentation-slider-color: white;

// const for price
$price-color: white;

// const for comments
$comments-color: lightgray;

// block for examples
$examples-color: white;

// block for footer
$footer-color: lightgray;



// ACCOUNT > PARTNERS ///////////////////////////////////////


$background-color-balance: lightgray;
$background-color-tableHeader: lightgray;
