@import '~variables.scss';

.template-list {
    margin-top: 1.5rem;

    &__back-btn {
        width: 20.7rem;
        height: 2.12rem;
        border-radius: 1.06rem;
        border: 1px solid #d6d6d6;
        color: $menu-color;
        line-height: 2.12rem;
        text-align: center;
        font-family: 'Gotham Medium', sans-serif;
        font-size: .88rem;
    }

    &__statusbar {
        width: 100%;
        height: 3.75rem;
        line-height: 3.75rem;
        margin-top: 1rem;
        background-color: #eef2f4;



        &-dropdown {
            height: 100%;
            position: relative;
            width: 28.4rem;
            float: left;          

            &-btn {
                height: 100%;
                width: 28.4rem;
                background-color: #e6ecef;
                padding: 0 1.5rem;
                text-align: justify;
                
                &:after {
                    content: '';
                    display: inline-block;
                    width: 100%;
                }

                &-name {
                    display: inline-block;
                }

                &-icon {
                    display: inline-block;
                }
            }

            .dropdown-menu {
                width: 100%;
                border-radius: 0;
            }
        }

        &-tariff {
            line-height: 1.2rem;
            float: right;
            height: 100%;
            border-left: 1px solid #d9e1e5;
            padding: .5rem 3.1rem 0 1.5rem;
    
            &-link {
                font-family: 'Gotham Light', sans-serif;
                text-decoration: underline;
                padding-right: 1rem;
            }
        }
    }
}

.content {
    margin-top: 3rem;

    &__header {
        width: 100%;
        font-family: 'Gotham Bold', sans-serif;
        text-transform: uppercase;
        font-size: $middle-text;
        color: $color-text-main;
        border-bottom: 1px solid #bbbbbb;
        padding-bottom: .5rem;
        margin-bottom: 2.6rem;

        &-img {
            transition: .5s;
        }
    }

    &__items {


        &-item {
            
            &-img {
                width: 100%;
            }
        }

        
    }
}