<div class="container-fluid template-list">
    <div class="row">
        <div class="col-lg-12">
            <div class="template-list__back-btn" routerLink="../tariffs">
                <img src="assets/images/icons/arrow_left.svg" alt="">
                Вернуться к списку тарифных планов
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="template-list__statusbar">
                <div class="template-list__statusbar-dropdown">
                    <div class="template-list__statusbar-dropdown-btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="template-list__statusbar-dropdown-btn-name"> <i class="fa fa-eye"></i>{{ selectedCategory}}</span>
                      <i class="fa fa-chevron-down template-list__statusbar-dropdown-btn-icon"></i>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <span class="dropdown-item" (click)="filterBy(category)">Все шаблоны</span>
                        <span *ngFor="let category of categories" class="dropdown-item" (click)="filterBy(category)">{{ category }}</span>
                    </div>
                  </div>

                    <div class="template-list__statusbar-tariff">
                        <span class="template-list__statusbar-tariff-text">Ваш тариф "Базовый" - 990 руб/мес</span><br>
                        <a class="template-list__statusbar-tariff-link" routerLink="../tariffs">Изменить тариф</a>
                        <a class="template-list__statusbar-tariff-link" routerLink="../../">Условия тарифа</a>
                    </div>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let category of categories; let i = index" class="container-fluid content">
    <div class="row">
        <div class="col-lg-12">
            <div class="content__header" (click)="toggleItems(i)">
                <img #chevron class="content__header-img" src="assets/images/icons/chevron_down.png" alt="">
                <span>{{ category }}</span>
            </div>
        </div>        
    </div>

    <div class="row content__items">
        <div class="col-lg-3 content__items-item" *ngFor="let template of getQuizsByTopic(category)">
            <img class="content__items-item-img" src="{{template.picture}}" alt="">
            <div>{{ template.name }}</div>

            <div class="content__items-button-group">

            </div>
        </div>
    </div>
</div>