<div class="qiTop qiTop__pos">
    <div class="qiTop__analitic mr-auto">Аналитика</div>

    <div class="qiTop__compare qiTop__pos">
      <span>Добавлен Quiz к сравнению: 2шт.</span>
      <span class="qiTop__pos qiTop__compare__button">
        <img class="qiTop__compare__img" src="assets/images/compare.png" alt="img">
        <span>Сравнить выбранные</span>
        <span *ngIf="varibleForComparison !== 0" class="qiTop__compare__compValue" >{{varibleForComparison}}</span>
      </span>
    </div>

    <div class="qiTop__period"> 
      <span  class="qiTop__period__text">Выбрать период:</span>
      <span>c 01.01.18 по 01.02.18</span>
    </div>

    <div class="qiTop__panel">
      <span class="qiTop__panel__close"><i class="fa fa-times"></i></span>
      <img class="qiTop__panel__calendar" src="assets/images/calendar.png" alt="img">
    </div>
</div>

<div class="quizCont">
    <div class="quiz" *ngFor="let info of quiz">
        <quiz-item [isInfoBlock]="isInfoBlock" [isButtonVisible]="isButtonVisible" [varibleForComparison]="varibleForComparison" (_varibleForComparison)="varibleForComp($event)" [info]="info"></quiz-item>
    </div>
</div>
