@import '~variables.scss';

.quizCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:  1.1rem 2rem 1.1rem 2rem;
}
   

.qiTop {
    margin:  1.1rem 2rem 1.1rem 2rem;
    color: $color-text-main;
    border-bottom: .05rem solid rgba(88, 88, 88, .8);
    padding-bottom: 1rem;

    &__pos {
        display: flex;
        align-items: center;
    }

    &__analitic {
        font-size: $captionText-size;
        font-weight: $captionText-weight;
        text-transform: uppercase;
    }

    &__compare {
        font-weight: 600;

        &__button {
            position: relative;
            margin:0 1rem;
            border: .05rem solid $menu-color;
            border-radius: 2rem;
            padding: .6rem 1.5rem;
            color: $menu-color;
            cursor: pointer;
        }

        &__compValue {
            position: absolute;
            top: -.5rem;
            right: 0;
            color: $submenu-color;
            background: $menu-color;
            padding: 0 .5rem;
            border-radius: 1rem;
        }

        &__img {
            margin-right: 1rem;
            width: 1rem;
        }
    }

    &__period {
        margin: 0 1rem;

        &__text {
            font-weight: 600;
        }
    }

    &__panel {

        &__close {
            background: #ffd3d3;
            color: #dc3837;
            font-size: .8rem;
            padding: .1rem .4rem;
            border-radius: 2.5rem;
            cursor: pointer;
        }

        &__calendar {
            margin-left: .1rem;
            width: 1.8rem;
            cursor: pointer;
        }
    }
}