@import '~variables.scss';

.complete {
    margin-top: 3.5rem;
    color: $color-text-main;
    font-family: 'Gotham Bold', sans-serif;
    
    &__title {
        text-transform: uppercase;
        font-size: $big-text;
    }

    &__group {
        height: 24.1rem;
        margin-top: 2.2rem;

        &-block {
            width: 100%;
            height: 100%;
            background-color: $color-block-gray;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            &-img {
                flex: 1;
                margin-left: 2.25rem;
                 
                &-item {
                    width: 100%;
                }
            }

            &-info {
                margin-left: 3rem;
                flex: 3;

                &-title {
                    
                    &_slim {
                        font-family: 'Gotham Light', sans-serif;
                    }
                }
            }
        }
    }
}