<div class="container-fluid complete">
  <div class="row">
    <div class="col-lg-12">
        <span class="complete__title">Вы успешно оплатили Quiz</span>
    </div>    
  </div>

  <div class="row complete__group">
    <div class="col-lg-12">
      <div class="complete__group-block">

          <div class="complete__group-block-img">
            <img class="complete__group-block-img-item" src="assets/images/quiz_thumb.jpg" alt="">
          </div>

          <div class="complete__group-block-info">
            <p class="complete__group-block-info-title">Номер заказа: <span class="complete__group-block-info-title_slim">096</span></p>
            <p class="complete__group-block-info-title">Название Quiz: <span class="complete__group-block-info-title_slim">СТО - Ремонт авто</span></p>
            <p class="complete__group-block-info-title">Тип Quiz: <span class="complete__group-block-info-title_slim">Quiz - лендинг</span></p>
            <p class="complete__group-block-info-title">Тарифный план: <span class="complete__group-block-info-title_slim">Базовый - 990 руб/мес</span></p>
            <p class="complete__group-block-info-title">Сумма оплаты: <span class="complete__group-block-info-title_slim">900 руб.</span></p>
            <p class="complete__group-block-info-title">Оплачено до: <span class="complete__group-block-info-title_slim">01.06.18</span></p>

            <div class="button button_red" routerLink="../../">Перейти в список квизов</div>
          </div>
      </div>      
    </div>
  </div>
</div>
