@import '~variables.scss';

.qiTop {
    &__pos {
        display: flex;
        align-items: center;
    }
}


.quiz {
    width: 100%;
    box-shadow: 2px 2px 20px  rgba(0,0,0,0.2);
    margin:  1.1rem 0;


    &__img {
        width: 100%;
    }

    &__button-group {
        height: 3.75rem;
        border-top: 1px solid $color-border;
        font-family: 'Gotham Regular', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &-dividerFor {
            height: .7rem !important;
            border-width: 2px !important;
        }

        &-btn {
            // flex:1;
            // display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            box-sizing: border-box;
            text-align: center;
            color: $color-text-main;
            height: 100%;
            line-height: 3.75rem;

            &_light, &_bright {
                cursor: pointer;
            }

            svg {
                color: $menu-color;
            }
        }

        &-divider {
            display: inline-block;
            width: 1px;
            height: 1rem;
            border-right: 1px solid $color-border;
        }
    }

    &__info {
        padding-bottom: 1.4rem;
        font-size: 14px;
        
        &-blue{
            font-weight: 700;
            color: $menu-color;
            border-bottom: 0.05rem solid $menu-color;
            cursor: pointer;
        }

        &-name {
            display: block;
            margin-top: 1rem;
            padding-left: 1.5rem;
            font-size: $midi-text;
            font-weight: 600; 
        }

        &-title {
            padding: 0 .4rem 0 1.5rem;
            font-weight: 700;
            color: $color-text-main;
        }

        &-pos {
            display: flex;
            justify-content: center;
        }

        &-pos span {
            padding-left: 0;
        }
    }

    &:hover > &__button-group > &__button-group-divider {
        height: 100%;
    }

    &:hover > .mask:after {
        background-image: linear-gradient(rgba($menu-color, 0.3));
    }

    &:hover > &__button-group > &__button-group-btn_bright {
        background-color: rgba($menu-color, .5);
    }

    &:hover > &__button-group > &__button-group-btn_light {
        background-color: rgba($menu-color, .2);
    }

    &:hover > &__button-group > &__button-group-btn {
       color: $menu-color;
    }
}

.mask  {
    position: relative;

    &:after {
        content: '';
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        z-index: 0;
    }
}


