  <div class="quiz">
    <div class="mask">
        <img class="quiz__img" src="{{ info.image }}">
    </div>

    
    
    <div class="quiz__info" *ngIf="isInfoBlock">
      <span class="quiz__info-name">{{ info.name }}</span>
      <hr>
      <div>
        <span class="quiz__info-title">Тип quiz:</span> <span>{{ info.tariff }}</span>
      </div>

      <div>
        <span class="quiz__info-title">тарифный план:</span> <span>{{ info.tariff }}</span>
      </div>

      <div>
        <span *ngIf="info.payed !== '0'" class="quiz__info-title">Оплачен до:</span><span *ngIf="info.payed !== '0'">{{ info.payed }}</span> 
        <span *ngIf="info.payed == '0'" class="quiz__info-title">Пробный период:</span><span *ngIf="info.payed == '0'" >{{ info.trialPeriod}} дней</span>
        <span *ngIf="info.payed == '0'" class="quiz__info-blue" >Оплатить</span> 
      </div>
      
      <div class="qiTop__pos">
        <div class="w-50">
          <span class="quiz__info-title">Заявок: </span><span>{{ info.request }} </span> 
        </div>

        <div class="quiz__button-group-divider quiz__button-group-dividerFor"></div>

        <div class="w-50 quiz__info-pos">
          <span class="quiz__info-title">CR: </span><span>{{ info.cr }}% </span>
        </div>

        <div class="quiz__button-group-divider quiz__button-group-dividerFor"></div>

        <div class="w-50 quiz__info-pos">
          <span class="quiz__info-title">Купоны: </span><span>{{ info.coupon }}</span>
        </div>
      </div>
     
    </div>

        <!-- первая группа кнопок -->
    <div class="quiz__button-group" *ngIf="isButtonVisible">
      <div class="quiz__button-group-btn quiz__button-group-btn_bright" (click)="forComparison()">
        <img class="mr-3" src="assets/images/compare_off.png" alt="img" *ngIf="!isDisplayNone">
        <img class="mr-3" src="assets/images/compare.png" alt="img" *ngIf="isDisplayNone">
        К срвнению
      </div>

      <div class="quiz__button-group-divider"></div>

      <div class="quiz__button-group-btn quiz__button-group-btn_light" >
          <i class="fa fa-check mr-3"></i>
          Выбрать
      </div>
    </div>


    <!-- вторая группа кнопок ///////////////////////////////////////////////////-->
    <div class="quiz__button-group" *ngIf="!isButtonVisible">
      <div class="quiz__button-group-btn quiz__button-group-btn_bright" >
        <img class="mr-3" src="assets/images/compare_off.png" alt="img">
        К срвнению 2
      </div>

      <div class="quiz__button-group-divider"></div>

      <div class="quiz__button-group-btn quiz__button-group-btn_light" >
          <i class="fa fa-check mr-3"></i>
          Выбрать 2
      </div>
    </div>
  </div>

