<div class="how-to">
    <span class="how-to__title">{{ title }}</span>
    <div class="how-to__icon" (click)="toggleInfo()">
        <span *ngIf="state=='closed'" >+</span>
        <span *ngIf="state=='opened'" >-</span>
    </div>    
</div>

<div class="details" [@infoState]="state">
    {{ details_text }}
    <span>Show more...</span>
</div>
