@import '~variables.scss';

.how-to {
    height: 2rem;
    line-height: 2rem;
    width: 100%;
    border: 1px solid $menu-color;

    &__title {
        padding-left: 1rem;
    }

    &__icon {
        float: right;
        margin-right: 1rem;
        height: 1rem;
        width: 1rem;
        margin-top: .2rem;
        cursor: pointer;

        &-fa {
            width: 1rem;
            height: 1rem;
        }
    }
}

.details {
    width: 100%;
    padding: .5rem 1rem;
    border: 1px solid $menu-color;
    border-top: none;
    overflow: hidden;
}